* {}

.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

.conteiner {
    background-color: chocolate;
    display: grid;
    border: 2px solid red;
    color: rgb(11, 11, 10);
    margin: 100px auto;

    outline: 6px solid yellow;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.primero:hover {
    color: blueviolet
}

h1 {
    font-size: 50px;
    font-style: italic;
    text-align: center;
    color: aquamarine;
}

.primero {
    background-color: brown;
    padding: 22px;
    border: bisque 1px solid;
    font-weight: bold;
    text-align: center;

}

.primero-1 {
    line-height: 400px;
    text-align: center;
    grid-row: 1;
    grid-row-end: 9;
}


.primero-2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.primero-3 {
    line-height: 300px;
    text-align: center;
    grid-row: 2;
    grid-row-end: 9;
}