
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container{
    max-width: 975px;
    margin: 0 auto;
    padding: 100px 0;
}

.content{
    display: grid; 
    grid-template-columns: 150px 300px repeat(3, 150px); 
    grid-template-rows: 70px 300px 70px; 
    gap: 15px 15px; 
    background: rgb(51, 50, 50);
}

/* Colores */

.red{
    background: #b93e37;
}

.yellow{
    background: #d1ac39;
}

.blue{
    background: #2952ba;
}

.white{
    background: white;
}


.interior1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.interior2{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.interior3{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
.interior4{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 6;
}
.interior5{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 6;

    padding: 30px 15px 40px 170px;
    text-align: right;
}

.interior5 h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

.interior5 p{
    font-size: 12px;
}

.interior6{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.interior7{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}
.interior8{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
}
