@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.grid-container{
    display: grid;
}


.bloque1{
    display: grid;
    background-image: linear-gradient(to right, #1F1C45 67%, #D8341E 33%);
    border: #fff solid 20px;
    border-top: inherit;
    border-right: inherit;
    padding-bottom: 855px;
    box-sizing: border-box;
    
}

.logo1{
   display: block;
   color: #fff;
   padding-top: 25px;
   margin-left: 26px;
   box-sizing: border-box;
   font-size: 25px;
   font-family: 'Poppins', sans-serif;
   text-transform: uppercase;
   line-height: 30px;
   font-weight: bold;
}


.header2{
    display: flex;
    margin-left: 550px;
}

.menu{
    display: flex;
    list-style: none;
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 40px 12px 10px 12px;
    line-height: 15px;
    font-weight: bold;
}
 
.menu:hover{
    background-color: #D8341E;
}


.elemento_icono{
    display: flex;
    color: #fff;
    padding: 54px 12px 10px 18px;
    font-size: 13px;
}

.elemento_icono:hover{
    background-color: #D8341E;
}

.header3{
    display: flex;
    flex: 0%;
    justify-content: right;
    margin-top: 52px;
    color: #fff; 
}

.header3 p{
    margin: 20px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.icono1{
    font-size: 14px;
}


.icono2{
    font-size: 17px;
}

.slider{
    display: flex;
    position: absolute;
    color: #fff;
    margin: 10%;
    font-family: 'Poppins', sans-serif;
}

.titulo{
    margin: 20px
}
.titulo h1{
    text-align: left;
    font-size: 121px;
    line-height: 120px;
    color: #fff;
    font-weight: bold; 
}

.titulo p{
    text-align: left;
    padding-top: 0;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 50px;
}

.imagen_cafe{
    margin-left: 280px;
}

.boton1{
    background-color: #D8341E;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-color: transparent;
    color: #fff;
    width: 198px;
    height: 63px;
}

.boton2{
    background-color: #D8341E;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-color: transparent;
    color: #fff;
    width: 198px;
    height: 63px;
    
}

.bloque2{
    display: flex;
    background-color: #1F1C45;
    border-right: #fff solid 20px;
    color: #fff;
    border-top: inherit;
    padding-bottom: 320px;
    box-sizing: border-box;   
}

.contenido h1{
    display: flex;
    margin-left: 1000px;
    margin-top: 330px;
    font-size: 55px;
}

.contenido p{
    display: flex;
    margin-left: 1000px;
    margin-top: -25px;
    font-size: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 29px;
}

.boton3{
    background-color: #D8341E;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-color: transparent;
    color: #fff;
    width: 198px;
    height: 63px;
    margin-left: 1000px;
}

.imagen_cafe2{
  display: flex;
  position: absolute;
  margin-left: 330px;
   
}

.bloque3{
    display: flex;
    background-color: #1F1C45;
    border: #fff solid 20px;
    padding-top: 20px;
    border-right: inherit;
    padding-bottom: 975px;
    box-sizing: border-box;
    color: #fff;
}

.servicio h1{
    display: flex;
    position: relative;
    font-size: 50px;
    color: #faf8f9;
    line-height: 52px;
    margin-left: 750px;
    margin-top: 58px;
    font-weight: bold;
}

.servicio p{
    display: flex;
    position: relative;
    font-size: 17px;
    color: #faf8f9;
    line-height: 52px;
    margin-top: -35px;
    margin-left: 430px;
    
}

.bloque3img3{
    display: flex;
    position: absolute;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    margin-top: 280px;
    margin-left: 75px;
    width: 388px;
    height: 388px;
}

.bloque3img1{
    display: flex;
    position: absolute;
    background: #D8341E;
    padding: 50px;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 635px;
    width: 510px;
    height: 510px;
}

.bloque3img2{
    display: flex;
    position: absolute;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    margin-top: 280px;
    margin-left: 1314px;
    width: 388px;
    height: 388px;
}

.text3{
    display: flex;
    position: absolute;
    padding-top: 790px;
    padding-left: 220px;
    font-size: 18px;
}

.text3p{
    display: flex;
    position: absolute;
    padding-top: 835px;
    padding-left: 122px;
    font-size: 14px;
    text-align: center;
}


.text1{
    display: flex;
    position: absolute;
    padding-top: 831px;
    padding-left: 856px;
    font-size: 26px;
}

.text1p{
    display: flex;
    position: absolute;
    padding-top: 900px;
    padding-left: 694px;
    font-size: 17px;
    text-align: center;
}

.text2{
    display: flex;
    position: absolute;
    padding-top: 790px;
    padding-left: 1481px;
    font-size: 18px;
}

.text2p{
    display: flex;
    position: absolute;
    padding-top: 835px;
    padding-left: 1362px;
    font-size: 14px;
    text-align: center;
}


.boton4{
    display: flex;
    position: absolute;
    background-color: #D8341E;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-color: transparent;
    color: #fff;
    width: 228px;
    height: 63px;
    padding-top: 18px;
    justify-content: center;
    margin-top: 996px;
    margin-left: 826px;
   
}

.bloque4{
    display: flex;
    background-color: #1F1C45;
    border-right: #fff solid 20px;
    color: #fff;
    border-top: inherit;
    padding-bottom: 710px;
    box-sizing: border-box;   
}

.textbloque4{
    display: flex;
    font-size: 50px;
    line-height: 52px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 260px;
}


.nombre{
    display: flex;
    position: absolute;
    background-color: #fff;
    color: #626262;
    margin-top: 170px;
    margin-left: 13px;
    width: 800px;
    height: 72px;
}

.nombre p{
margin-left: 30px;
margin-top: 25px;
font-size: 17px;
}

.phone{
    display: flex;
    position: absolute;
    background-color: #fff;
    color: #626262;
    margin-top: 275px;
    margin-left: 13px;
    width: 800px;
    height: 72px;
}

.phone p{
margin-left: 30px;
margin-top: 25px;
font-size: 17px;
}


.email{
    display: flex;
    position: absolute;
    background-color: #fff;
    color: #626262;
    margin-top: 380px;
    margin-left: 13px;
    width: 800px;
    height: 72px;
}

.email p{
margin-left: 30px;
margin-top: 25px;
font-size: 17px;
}


.message{
    display: flex;
    position: absolute;
    background-color: #fff;
    color: #626262;
    margin-top: 485px;
    margin-left: 13px;
    width: 800px;
    height: 162px;
}

.message p{
margin-left: 30px;
margin-top: 65px;
font-size: 17px;
}


.boton5{
    display: flex;
    position: absolute;
    margin-top: 705px;
    background-color: #D8341E;
    color: #fff;
    border-color: transparent;
    margin-left: 244px;
    width: 237px;
    height: 80px;
    border-radius: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-top: 26px;
    justify-content: center;
    font-size: 17px;
}


.v-line{
    border-left: solid #ffffff;
    height:77%;
    left: 46%;
    position: absolute;
    margin-top: 70px;
    
   }


.text5{
    display: flex;
    position: absolute;
    padding-top: 5px;
   margin-left: 950px;
    font-size: 45px;
}

.text5p{
    display: flex;
    position: absolute;
    background-color: #fff;
    color: #000;
    margin-top: 150px;
    margin-left: 950px;
    padding-left: 40px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 60px;
    line-height: 40px;
    font-size: 17px;
    text-align: left;
}

.cuadrado{
    display: flex;
    position: absolute;
    background-color: #D8341E;
    width: 120px;
    height: 120px;
    margin-left: 970px;
    margin-top: 500px;
}

.imagen_boy{
    display: flex;
    position: absolute;
    background-color: #D8341E;
    width: 120px;
    height: 120px;
    margin-left: 985px;
    margin-top: 515px;
}

.text6{
    display: flex;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    margin-top: 555px;
    margin-left: 1130px;
    font-size: 17px;
}


.text6p{
    display: flex;
    position: absolute;
    color: #D8341E;
    font-style: italic;
    font-weight: bold;
    margin-top: 583px;
    margin-left: 1130px;
    font-size: 15px;
}

.imagen_coff{
    display: flex;
    position: absolute;
    margin-left: 1590px;
    margin-top: 655px;
}


.bloque5{
    display: flex;
    background-color: #1F1C45;
    border: #fff solid 20px;
    padding-top: 20px;
    border-right: inherit;
    padding-bottom: 700px;
    box-sizing: border-box;
    color: #fff;
}

.footer1{
    display: flex;
    margin-left: 700px;
    margin-top: -20px;
}

.footerzon{
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 820px;
}

.footer2 h3{
    display: flex;
    position: absolute;
    color: #D8341E;
    font-size: 26px;
    margin-top: 310px;
    margin-left: 340px;
}

.footer2 h3:hover{
color: #fff;
}

.footer2 p{
    display: flex;
    position: absolute;
    color: #626262;
    font-size: 16px;
    margin-top: 318px;
    margin-left: -688px;
}

.bloque5 hr{
    display: flex;
    position: absolute;
    margin-top: 352px;
    margin-left: 346px;
}

.menu1{
    position: absolute;
    margin-top: 420px;
    margin-left: 310px;
    font-family: 'Poppins', sans-serif;
}

.menu1 dt{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 10px;
}

.menu1 dd{
    font-size: 20px;
    line-height: 40px;
}

.menu1 dd:hover{
    color: #D8341E;
}


.menu2{
    position: absolute;
    margin-top: 420px;
    margin-left: 790px;
    font-family: 'Poppins', sans-serif;
}

.menu2 dt{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 10px;
}

.menu2 dd{
    font-size: 20px;
    line-height: 40px;
}

.menu2 dd:hover{
    color: #D8341E;
}


.menu3{
    position: absolute;
    margin-top: 420px;
    margin-left: 1210px;
    font-family: 'Poppins', sans-serif;
}

.menu3 dt{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 10px;
}

.menu2 dd{
    font-size: 20px;
    line-height: 40px;
}

.menu3 dd:hover{
    color: #D8341E;
}

.iconosfooter{
    display: block;
    list-style: none;
    box-sizing: border-box;
    font-size: 30px;
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 28px;
    
}

.fa-brands {
   margin-left: 15px;
}

.location{
display: block;
font-size: 26px;
}

.location p{
    display: block;
    font-size: 20px;
    margin-left: 40px;
    margin-top: -35px;
}


.location2{
    display: block;
    font-size: 26px;
    }
    
.location2 p{
        display: block;
        font-size: 20px;
        margin-left: 40px;
        margin-top: -35px;
    }

    .location3{
        display: block;
        font-size: 26px;
        }
        
    .location3 p{
            display: block;
            font-size: 20px;
            margin-left: 40px;
            margin-top: -35px;
        }



.ultima{
    display: flex;
    position: absolute;
    right: 0px;
    margin-top: 683px;
}

