*{
    margin: auto;
    border: 0;
    padding: 0;
}
.sectionBackground{
    background-image: url(./img/fondo.png);
    height: 800px;
    background-attachment: fixed;
    background-size: cover
}
.sectionBackgroundTitle{
    width: 232px;
    height: 74px;
    text-align: center;
    padding-block-start: 1em;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 74px;
    color: #FFFFFF;
}

.sectionBackgroundDiv{
    width: 480px;
    height: 97px;
    margin-inline-start: 6em;
    margin-block-start: 4em;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    display: inline-table;
    background-color: #7299FE80;
    padding-block: 0.2em;
    padding-inline: 0.2em;

    border-radius: 0.3em;
}

.sectionForMy{
    background-color: #7299FE;
    height: 410px;
    padding-top:2em;
}
.sectionForMyTitle{
    color: #1D06A7;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.sectionMyInformation{
    margin-inline: 8em;
    margin-top: 2em;
    font-family: 'Arial';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.sectionForMy button{
    margin-inline-start: 8em;
    margin-block-start: 1em;

    background: #D16FFF;
    width: 187px;
    height: 62px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #fff;
}
