.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1269px;
    height: 48px;



}

.afrianska {
    margin-bottom: 20px;
}

.afrianska img {
    Width: 1300px;
    Height: 250px;
}

.logo {
    Width: 46.35px;
    Height: 48px;
}

.contenedor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


div a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-size: 20px;
}


/* BUSCADOR */

.buscador {
    width: 940px;
    height: 56px;
    position: relative;
    margin: auto;
    margin-bottom: 25px;
}

.search-box {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding-left: 40px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

/* CONTENEDOR 2 */



.Titulo {
    width: 940px;
    height: 56px;
    position: relative;
    margin: auto;
}

.popular {
    font-family: Helvetica;
    font-size: 20px;
    Line-height: 23px;
    color: #356EAD;
    font-weight: bold;

}

.Cuadro1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 890px;

}

.Cuadro11 {
    display: flex;
    width: 940px;

}

.Cuadro1_1,
.Cuadro1_2 {
    width: 100%;
    height: 380px;
}

.Cuadro1_1 {
    width: 75%;
}

.post1 {
    width: 100%;
    height: 100%;
}

.Cuadro1_1_1,
.Cuadro1_1_2 {
    display: block;
    width: 100%;
}

.Cuadro1_1_1 {
    height: 80%;
    margin-top: 0px;

}

.Feugiat {
    font-family: Helvetica;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #1F3F68;

}

.Contenido {
    margin-top: 12px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    opacity: 60%;
}


.Cuadro1_1_2 {
    height: 20%;
    display: flex;
}

.Cuadro1_1_2_1,
.Cuadro1_1_2_2 {
    width: 100%;
}

.Cuadro1_1_2_1 {
    display: block;
    width: 100%;
}

.Samatha,
.May {
    height: 50%;
}

.Samatha {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    font-style: normal;
    color: #1F3F68;
}

.May {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    opacity: 40%;

}

.Cuadro1_1_2_2 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save,
.share {
    height: 24px;
    width: 24px;
    left: 510px;
    top: 947px;
}

.Cuadro1_3 {
    width: 100%;
    height: 477px;
    display: flex;
    justify-content: space-between;
}

.Cuadro1_3_1,
.Cuadro1_3_2,
.Cuadro1_3_3 {
    width: 300px;
    height: 477px;


}

.Cuadro1_3_1 {
    display: block;
    height: 100%;
}

.Cuadro1_3_1_1,
.Cuadro1_3_2_1,
.Cuadro1_3_3_1 {
    height: 42%;

}

.post2 {
    width: 100%;
    height: 100%;
}

.Cuadro1_3_1_2,
.Cuadro1_3_2_2,
.Cuadro1_3_3_2 {
    height: 40%;
}

.Cuadro1_3_1_3,
.Cuadro1_3_2_3,
.Cuadro1_3_3_3 {
    height: 15%;
    display: flex;

}

.Cuadro1_3_1_3_1,
.Cuadro1_3_1_3_2 {
    width: 100%;
}

.Cuadro1_3_1_3_2 {
    width: 30%;
}

.Cuadro1_3_1_3_1 {
    display: block;
}

.Sam,
.Ma {
    height: 50%;
}

.Sam {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #1F3F68;
}

.Ma {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    opacity: 40%;
}

.Cuadro1_3_1_3_2,
.Cuadro2_1_2_2_2 {
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
}


.imagen2 {
    width: 100%;
    height: 50%;

    justify-content: flex-end;
    align-self: flex-end;
}

.save1,
.share1 {
    height: 24px;
    width: 24px;

    justify-content: flex-end;
    align-self: flex-end;
}

.Tit {
    margin-top: 15px;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #1F3F68;
}

.Cont {
    font-family: Abel;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    opacity: 60%;
}

.SEE {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: right;
    color: #356EAD;
}

.Raya {
    height: 2px;
    width: 940px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}

.Cuadro2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 941px;
    height: 1100px;
    margin-bottom: 15px;
}

.Cuadro2_1,
.Cuadro2_2,
.Cuadro2_3,
.Cuadro2_4,
.Cuadro2_5 {
    height: 200px;
    width: 941px;
    justify-content: space-between;
    display: flex;
}

.Cuadro2_1_1 {
    width: 325.64px;
    height: 200px;
}

.Cuadro2_1_2 {
    width: 590px;
    height: 200px;
    display: block;

}

.post3 {
    height: 200px;
    width: 328.637939453125px;
    left: 213px;
    top: 1707px;
    border-radius: 0px;
}

.Tit1 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #1F3F68;
}

.Cont1 {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    opacity: 60%;
}

.Cuadro2_1_2_1 {
    height: 65%;
}

.Cuadro2_1_2_2 {
    height: 35%;
    display: flex;
}

.Cuadro2_1_2_2_1 {
    width: 90%;
    display: block;
}

.Cuadro2_1_2_2_1_1,
.Cuadro2_1_2_2_1_2 {
    height: 50%;
}

.Cuadro2_1_2_2_1_1 {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #1F3F68;
}

.Cuadro2_1_2_2_1_2 {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    opacity: 40%;
}

.Cuadro2_1_2_2_2 {
    display: flex;
    justify-content: flex-end;
}

.Cuadro3 {
    width: 941px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.Cuadro3_1 {
    display: flex;
    height: 100%;
    width: 50%;


}

.Cuadro3_1_1,
.Cuadro3_1_2 {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Cuadro3_1_1 {

    width: 5%;
}

.Cuadro3_1_2 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #356EAD;
    align-self: flex-start;
}

.left {
    width: 65%;
}


.Cuadro3_2 {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: 100%;
    width: 12%;

}

.Cuadro3_2_1,
.Cuadro3_2_2 {
    height: 100%;
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.Cuadro3_2_1 {
    width: 20%;
}

.Cuadro3_2_2 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #356EAD;
    align-self: flex-end;

}

.right {
    width: 65%;
}

.Cuadro4 {
    height: 869px;
    width: 1300px;
    left: 0px;
    top: 3007px;
    border-radius: 0px;
    background-color: #316099;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cuadro4_1 {
    width: 941px;
    height: 45%;

    display: flex;
    justify-content: space-between;
}

.Cuadro4_1_1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Cuadro4_1_2 {
    width: 50%;
}

.Cuadro4_1_1_1 {
    font-family: Helvetica;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
}

.Cuadro4_1_1_2 {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
    opacity: 60%;
}

.Cuadro4_1_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 56px;
    width: 225.7921142578125px;
    left: 892.2078857421875px;
    top: 3179px;
    border-radius: 0px;
    background-color: #5A98D0;
    align-self: flex-end;
    color: #fff;

}

.Cuadro4_2 {
    width: 941px;
    height: 55%;
    display: flex;
    justify-content: space-between;
}

.Cuadro4_2_1,
.Cuadro4_2_2,
.Cuadro4_2_3 {
    width: 250px;
    height: 80%;
}

.Cuadro4_2_1 {
    display: block;
    justify-content: space-between;

}

.Cuadro4_2_1_1,
.Cuadro4_2_1_2,
.Cuadro4_2_1_3,
.Cuadro4_2_1_4 {
    height: 25%;
}

.Cuadro4_2_1_1 {
    font-family: Gilroy;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
}

.Cuadro4_2_1_2,
.Cuadro4_2_1_3,
.Cuadro4_2_1_4{
    font-family: Gilroy;
    font-size: 20px;
    
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
}

.Cuadro4_2_2, .Cuadro4_2_3{
    display: block;
    justify-content: space-between;
}

.Cuadro4_2_2_1, .Cuadro4_2_2_2, .Cuadro4_2_2_3, .Cuadro4_2_2_4, .Cuadro4_2_2_5{
    height: 20%;
}

.Cuadro4_2_2_1{
    font-family: Gilroy;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
}
.Cuadro4_2_2_2, .Cuadro4_2_2_3, .Cuadro4_2_2_4, .Cuadro4_2_2_5{
    font-family: Gilroy;
    font-size: 20px;
    
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;

}