.main {
    width: 100%;
    background-color: $background-page;

    &__search {
        padding: 60px 20px 0;

        &__background {
            background-color: $background-search;
            display: flex;
            align-items: center;
            max-width: 934px;
            margin: 0 auto;
            padding: 16px 20px;
            border-radius: 10px;

            img {
                width: 24px;
                margin-right: 20px;
            }

            input {
                background-color: $background-search;
                color: $color-postEncabezados;
                width: 100%;
                font-weight: 400;
                font-size: 1.6rem;
            }
        }
    }

    &__popular {
        @include containersMain(popular);

        &__title {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            @include main-nameSection(0.4);
        }

        .popular {
            display: flex;
            flex-direction: column;

            &__image {
                width: 100%;

                img {
                    width: 100%
                }
            }

            &__image--large {
                min-width: 540px;

                img {
                    width: 100%
                }
            }

            &__content {

                &__title {
                    @include main-encabezados(0.8);
                }
                
                &__title--large {
                    @include main-encabezados(2.2);
                }

                &__description {
                    @include main-content(0.2, 0.2, 40px);
                }
            }

            .popular__details {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__info p {
                    @include main-encabezados(0);
                }

                &__info span {
                    @include main-content(0, 0, 0)
                }

                &__options {
                    display: flex;
                    gap: 20px;

                    img {
                        width: 26.29px;
                        cursor: pointer;
                    }
                }
            }
        }

        .popular--large {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 20px;
        }

        &__more {
            grid-column: 1 / 4;
            grid-row: 4 / 5;
            @include main-nameSection(0);
            text-align: end;
            padding: 30px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    &__articles {
        @include containersMain(posts);

        &__title {
            @include main-nameSection(0.4);
        }

        .article {
            width: 100%;
            display: flex;

            &__image {
                min-width: 328px;

                img {
                    width: 100%;
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                padding: 5px 0 5px 20px;

                &__title {
                    @include main-encabezados(0.4);
                }

                &__description {
                    @include main-content(0, 0, 40px);
                }

                .article__details {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &__info p {
                        @include main-encabezados(0);
                    }

                    &__info span {
                        @include main-content(0, 0, 0);
                    }

                    &__options {
                        display: flex;
                        gap: 50px;

                        img {
                            width: 26.29px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &__btn {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            a {
                display: flex;
                align-items: center;
                gap: 18px;
                color: $color-arrows;
                font-family: $fuente-primary;
                font-size: 1.6rem;
                letter-spacing: 0.064rem;

                img {
                    width: 18px;
                }
            }
        }
    }
}