
// Minxis Header
@mixin header-navbar($element) {
    font-family: $fuente-primary;
    font-size: 2.0rem;

    @if $element == disabled {
        font-weight: 400;
        color: $color-navDisabled;
    }
    @else if $element == active {
        font-weight: 700;
        color: $color-navActive;
    }
}

@mixin header-presentation($element) {
    width: 100%;
    max-width: 800px;
    font-family: $fuente-secondary;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;

    @if $element == title {
        color: $header-content;
        font-size: 4.4rem;
        margin-bottom: 30px;
    }
    @else if $element == content {
        color: $header-opacity;
        font-size: 2.0rem;
        letter-spacing: 0.064rem;
    }
}


// Minxis Footer
@mixin containers($element) {
    background-color: $background-footer;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, auto);

    @if $element == about {
        grid-template-columns: repeat(2, minmax(260px, 467px));
        padding: 91px 20px;
        border-bottom: 1px solid #fff;
    }
    @else if $element == links {
        grid-template-columns: minmax(220px, 467px) repeat(2, minmax(110px, 233.5px));
        padding: 98px 20px 64px;
    } 
}

@mixin footer-text($size, $weight, $font, $color) {
    font-size: 1.6rem + $size;
    font-weight: 400 + $weight;
    font-family: $font;

    @if $color == normal {
        color: $footer-content;
    }
    @else if $color == opacity {
        color: $footer-opacity;
    }
}