
@mixin header-navbar($element) {
    font-family: $fuente-primary;
    font-size: 2.0rem;

    @if $element == disabled {
        font-weight: 400;
        color: $color-navDisabled;
    }
    @else if $element == active {
        font-weight: 700;
        color: $color-navActive;
    }
}

@mixin header-presentation($element) {
    width: 100%;
    max-width: 800px;
    font-family: $fuente-secondary;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;

    @if $element == title {
        color: $header-content;
        font-size: 4.4rem;
        margin-bottom: 30px;
    }
    @else if $element == content {
        color: $header-opacity;
        font-size: 2.0rem;
        letter-spacing: 0.064rem;
    }
}