* {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}