* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: $color-text;
    text-decoration: none;
}

section {
    min-height: 20em;
}

@each $encabezado, $porcentaje in $mapEncabezados {
    #{$encabezado} {
        font-size: calc(#{$porcentaje} + #{$fontSize-body});
        color: $color-text;
    }
}

body {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;

    font-family: $fuente-body;
    font-size: $fontSize-body;
    font-weight: $fontWeight-body;
}