$fuente-body: 'Nunito', sans-serif;
$fontSize-body: 1em;
$fontWeight-body: 400;

$color-text: #000;
$backg-color: #eee;

$mapEncabezados: (h1: 200%, h2: 100%, h3: 50%);

$padding-containers: 8px;
$padding-elements: 10px;

$margin-containers: 12px;