
.color-MAlcalicos {background-color: #f54439;}

.color-Alcalinoterreos {background-color: #f99a46;}

.color-Metales {background-color: #fcf911;}

.color-MTransicion {background-color: #b2f946;}

.color-Lantanidos {background-color: #6fbfc7;}

.color-Metaloides {background-color: #53f71f;}

.color-NoMetales {background-color: #317bf5;}

.color-Halogenos {background-color: #d221e7;}

.color-GasesNobles {background-color: #0ce9d5;}

.color-Actinidos {background-color: #6a8f74;}
