
/* ----------------- COLORES PARA LOS ELEMENTOS ----------------- */
.color-MAlcalicos {background-color: #f54439;}

.color-Alcalinoterreos {background-color: #f99a46;}

.color-Metales {background-color: #fcf911;}

.color-MTransicion {background-color: #b2f946;}

.color-Lantanidos {background-color: #6fbfc7;}

.color-Metaloides {background-color: #53f71f;}

.color-NoMetales {background-color: #317bf5;}

.color-Halogenos {background-color: #d221e7;}

.color-GasesNobles {background-color: #0ce9d5;}

.color-Actinidos {background-color: #6a8f74;}
/* ----------------- /COLORES PARA LOS ELEMENTOS ----------------- */



body {
    font-family: 'Times New Roman', Times, serif;
    padding: 40px 20px;
}

.title {
    color: #2863d1;
    font-size: 5.7rem;
    text-align: center;
}


.tablaPeriodica-Container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(18, 10rem);
    grid-template-rows: repeat(9, 10rem) 6rem;
    overflow-x: auto;
}



/* ----------------- ESTILOS PARA LOS ELEMENTOS ----------------- */
.element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border: 1px solid #000;
}

.element .element__numbers {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.element .element__numbers p {
    font-size: 1.8rem;
}

.element .element__symbol {
    font-size: 3.2rem;
}

.element .element__name {
    font-size: 1.2rem;
}
/* ----------------- /ESTILOS PARA LOS ELEMENTOS ----------------- */



/* -------------- ESTILOS PARA ESPACIOS EN BLANCO -------------- */
.space-1 {
    grid-column: 2 / 18;
}

.space-2 {
    grid-column: 3 / 13;
    text-align: center;
}

.space-2 h2 {
    font-size: 3.5rem;
}
/* -------------- /ESTILOS PARA ESPACIOS EN BLANCO -------------- */
