*{
    margin: 0;  
}

.container {
    margin: auto;
    width: 1655px;
    height: 890px;
    border: 2px solid black;
    display: flex;
}

.container ul{
    list-style: none;
    padding-inline-start: 0%;
    display: flex;
}

#alcalinos {
    background-color: #F54439;
    flex-direction: column;
    text-align: center;
}

.container li {
    border: 1px solid black;
    width: 90px;
    height: 90px;
}

.container li:hover {
    color: white;
    transition: 0.4s;
    font-size: 1.8em;
    cursor: pointer;
    border: 1px solid white;
    text-shadow: 1.5px 1.5px 0.5px black;
}

.container h4 {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
}

.container h6 {
    margin-top: 8px;
    font-size: 0.65em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

#alca-terreo {
    background-color: #F99A46;
    flex-direction: column;
    margin-top: 92px;
    text-align: center;
}

.transicion {
    background-color: #B2F946;
    text-align: center;
}

#transition {
    margin-top: 275.5px;
    width: 827x;
    height: 420px;
    display: table-row;
}

.metales {
    flex-direction: column;
    background-color: yellow;
    margin-top: 92px;
    width: 93px;
    text-align: center;
}

.metal {
    background-color: yellow;
    text-align: center;
}

.lantanidos {
    background-color: #6FBFC7;
    text-align: center;
}

.actinidos {
    background-color: #6A8F74;
    text-align: center;
}

#transition h3 {
    position: absolute;
    display: flex;
    margin-top: -175px;
    margin-left: 145px;
    font-size: 1.8em;
}

.first-block {
    display: flex;
}

.tercer-bloque {
    flex-direction: column;
    margin-top: 276px;
}

.La-Lu {
    flex-direction: row;
    display: inline-block;
    position: absolute;
    margin-top: 644px;
    margin-left: 276px;
}

.five-block {
    flex-direction: column;
    margin-left: 92px;
    position: absolute;
    margin-top: -552px;
}

.six-block {
    flex-direction: column;
    position: absolute;
    margin-top: -552px;
    margin-left: 183.5px;
}

.seven-block {
    flex-direction: column;
    position: absolute;
    margin-top: -552px;
    margin-left: 275.5px;

}

.eight-block {
    flex-direction: column;
    position: absolute;
    margin-top: -552px;
    margin-left: 367.5px;
    background-color: #D221E7; 
    text-align: center;
}

.nine-block {
    flex-direction: column;
    position: absolute;
    margin-top: -644px;
    margin-left: 459.5px;
    background-color: #0CE9D5; 
    text-align: center;
}

#esquina {
    position: absolute;
    top: 646px;
    width: 274px;
    height: 244px;
    background-color: #53F71F;
    list-style: none;
}

#esquina h4 {
    font-size: 4.5em;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#esquina h6 {
    font-size: 1.8em;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.no-metal {
    background-color: #317BF5;
    text-align: center;
}

.metaloide {
    background-color: #53F71F;
    text-align: center;
}

.leyenda {
    position: absolute;
    margin-top: 828px;
    list-style: none;
    flex-direction: row;
    display: flex;
    margin-left: 275px;
    height: 50px;
}

.leyenda li {
    width: 136.2px;
    height: 60px;
}

li p {
    margin-top: 18px;
    font-size: 1.1em;
}

.alcalico {
    background-color: #F54439;
    text-align: center;
}

.a-terreo {
    background-color: #F99A46;
    text-align: center;
}

.halogeno {
    background-color: #D221E7;
    text-align: center; 
}

.g-noble {
    background-color: #0CE9D5;
    text-align: center; 
}