/* * {
    box-sizing: border-box;
}
.vanessa{
    border: 1px dotted red
}
.wendy{
    border: 1px dotted yellow
}
.emmy{
    border: 1px dotted pink
}
.stward{
    border: 1px dotted blue
}
.casa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:300px 1fr ;
}
div{
    
}
.matris4x5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
    width: 400px;
    height: 500px;
    gap: 10px;

}
.cuadrado{
    height: 100px;
    width: 100px;
    border: 1px dotted blue !important
}

.ejercicio{
    border: 1px dotted blue !important;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
                "header header header"
                "sidebar maincontent maincontent"
                "foter foter foter"
    ;

}

.header{
    text-align: center;
    border: 1px dotted green;
    grid-area: header;
}
.sidebar{
    text-align: center;
    grid-area: sidebar;
    border: 1px dotted green

    
}
.main{
    grid-area: maincontent;
}
.footer{
    grid-area:foter;
    border: 1px dotted green;
    text-align: center;   
} */

.ejercicio2 {
    border: 2px dotted blue !important;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 4fr 4fr 50px;
    grid-template-areas:
        "header      header   header   header   header   header "
        "navigation content1 content2 content3 content4 content0"
        "navigation content5 content6 content7 content8 content0"
        "footer      footer   footer  footer  footer   footer"
    ;
}

.headertitulo {
    grid-area: header;
    border: 2px dotted violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationcostado {
    grid-area: navigation;
    text-align: center;
    border: 2px dotted violet;
}

.content0 {
    grid-area: content0;
    text-align: center;

}

.footerabajo {
    grid-area: footer;
    text-align: center;
    border: 2px dotted violet;
}

.marco-content {
    border: 1px solid black;
    text-align: center;

}
.centertexto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.negrita{
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
}