@use 'variables';

:root{
  font-size: 16px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}
.main{
  padding: 2rem 1rem;
  margin: 0 auto;
}

hr{
  margin: 6rem 0;
  border: variables.$hr;
}