@use 'variables';
.popular{
  margin-top: 2rem;
  width: 100%;
  position: relative;
  &__title{
    font-size: 1.3rem;
    font-family: variables.$helvetica;
    font-weight: variables.$bold;
    text-transform: uppercase;
    color: variables.$primary;
    margin-bottom: 1rem;
  }
  &__article{
    display: grid;
    grid-template-areas: "imgpost" "title" "description" "tools";
    gap: 10px;
    margin-bottom: 2rem;
    &-title{
      font-size: 1.25rem;
      font-family: variables.$helvetica;
      font-weight: variables.$bold;
      color: variables.$secondary;
      grid-area: title;
    }
    &-description{
      color: rgba(0, 0, 0, 0.6);;
      font-size: 0.8rem;
      font-weight: variables.$normal;
      line-height: 26px;
      grid-area: description;
    }
    &-about{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      grid-area: tools;
    }
    &-author{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      font-size: 0.8rem;
      &-name{
        font-family: variables.$helvetica;
        font-weight: variables.$bold;
        color: variables.$secondary;
      }
      &-date{
        font-weight: variables.$normal;
        color: variables.$secondary;
      }
    }
    &-tools{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
    &-icon{
      font-size: 1.1rem;
      color: variables.$primary;
    }
    &-img{
      width: 100%;
      height: 200px;
      grid-area: imgpost;
      &--top{
        height: 310px;
      }
    }
  }
  &__link{
    position: absolute;
    font-size: 1rem;
    font-family: variables.$helvetica;
    font-weight: variables.$bold;
    text-transform: uppercase;
    text-decoration: none;
    color: variables.$primary;
    bottom: -80px;
    right: 10px;
  }
}