@use 'variables';

.search{
  position: relative;
  &__input{
    padding-left: 4rem;
    height: 56px;
    width: 100%;
    border-radius: 10px;
    background-color: #F4F4F4;
    color: variables.$primary;
    font-size: 1rem;
    border: none;
  }
  &__icon{
    position: absolute;
    top: 21px;
    left: 24px;
    color: variables.$primary;
  }
}