@use 'variables';

.hero{
  background-image: url(../banner.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 250px;
  width: 100%;
  &__title{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: variables.$bold;
    line-height: 34px;
    text-align: center;
  }
  &__description{
    width: 245px;
    color: rgba(255, 255, 255, 0.78);;
    text-align: center;
    font-size: 0.8rem;
    line-height: 23px;
    font-weight: variables.$normal;
  }
}
@media (min-width: 768px){
  .hero{
    &__title{
      font-size: 2rem;
      font-weight: variables.$normal;
      margin-bottom: 1rem;
    }
    &__description{
      font-size: 1rem;
      width: 470px;
    }
  }
}
@media (min-width: 1024px){
  .hero{
    &__title{
      font-size: 2.75rem;
      font-weight: variables.$normal;
      margin-bottom: 1rem;
    }
    &__description{
      font-size: 1.25rem;
      width: 780px;
    }
  }
}