.body {
    margin: auto;
}

p{
    margin-top: 15px;
}
  
.list-group-item .task-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.list-group-item.d-flex{
    gap: 20px;
}
  
.list-group {
    width: 70%
}

.list-group-item .task-text.completed {
    text-decoration: line-through;
}

.list-group-item .task-completed {
    font-size: 0.8rem;
    color: #777;
}