.main {
    width: 100%;
    background-color: $background-page;
    margin: 0 auto;

    &__search {
        width: 100%;
        padding: 25px 20px 0;

        &__background {
            background-color: $background-search;
            display: flex;
            align-items: center;
            padding: 16px 20px;
            border-radius: 10px;

            img {
                width: 24px;
                margin-right: 20px;
            }

            input {
                background-color: $background-search;
                color: $color-postEncabezados;
                width: 100%;
                font-weight: 400;
                font-size: 1.6rem;
            }
        }
    }


    &__popular {
        @include containersMain(popular);

        &__title {
            @include main-nameSection(0.6);
            margin-bottom: 15px;
        }

        .popular {
            display: flex;
            flex-direction: column;

            &__image {
                width: 100%;
                margin-bottom: 10px;

                img {
                    width: 100%
                }
            }

            &__image--large {
                width: 100%;
                margin-bottom: 8px;

                img {
                    width: 100%
                }
            }

            &__content {
                &__title {
                    line-height: 2.8rem;
                    @include main-encabezados(0.4);
                }
                
                &__title--large {
                    line-height: 3.8rem;
                    @include main-encabezados(0.6);
                }

                &__description {
                    @include main-content(0, 0.2, 40px, 0.6);

                    span {
                        display: none;
                    }
                }
            }

            .popular__details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;

                &__info p {
                    @include main-encabezados(0);
                }

                &__info span {
                    @include main-content(0, 0, 0, 0.4)
                }

                &__options {
                    display: flex;
                    gap: 20px;

                    img {
                        width: 26.29px;
                        cursor: pointer;
                    }
                }
            }
        }

        .popular--none {
            display: none;
        }

        .popular--large {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__more {
            @include main-nameSection(0);
            text-align: end;
            padding: 30px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    
    &__articles {
        @include containersMain(posts);

        &__title {
            display: none;
        }

        .article {
            width: 100%;
            display: flex;
            flex-direction: column;

            &__image {
                width: 100%;
                margin-bottom: 10px;

                img {
                    width: 100%;
                }
            }

            &__content {
                display: flex;
                flex-direction: column;

                &__title {
                    @include main-encabezados(0.4);
                    line-height: 2.8rem
                }

                &__description {
                    @include main-content(0, 0.2, 40px, 0.6);

                    span {
                        display: none;
                    }
                }

                .article__details {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &__info p {
                        @include main-encabezados(0);
                    }

                    &__info span {
                        @include main-content(0, 0, 0, 0.4);
                    }

                    &__options {
                        display: flex;
                        gap: 20px;

                        img {
                            width: 26.29px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .article--none {
            display: none;
        }

        &__btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            .btn--none {
                display: none;
            }

            a {
                display: flex;
                align-items: center;
                gap: 18px;
                color: $color-arrows;
                font-family: $fuente-primary;
                font-size: 1.6rem;
                letter-spacing: 0.064rem;
                margin-right: 30px;

                img {
                    display: none;
                }
            }
        }
    }
}