.grid-container {
  display: grid;
  grid-template-columns: repeat(18px, 90px);
  grid-template-rows: repeat(7px, 90px);
  gap: 10px;
  justify-content: center;
  
}


/*-----------colores--------*/
:root{
  --alcalicos: #f54439;
  --alcalinoterreos: #f99a46;
  --metales: #fcf911;
  --transicion: #b2f946;
  --lactanidos: #6fbfc7;
  --metaloides: #53f71f;
  --no-metales: #317BF5;
  --halogenos: #d221e7;
  --gases-nobles: #0ce9d5;
  --actinidos: #6a8f74; 


  
}


body {
  margin: 0;
  padding: 0;
}

/*----------colores de elementos-------------*/

.alcalicos{
  background-color: var(--alcalicos);
}

.alcalinoterreos{
  background-color: var(--alcalinoterreos);
}

.metales{
  background-color: var(--metales);
}

.transicion{
  background-color: var(--transicion);
}

.lactanidos{
  background-color: var(--lactanidos);
}

.metaloides{
  background-color: var(--metaloides);
}

.no-metales{
  background-color: var(--no-metales);
}

.halogenos{
  background-color: var(--halogenos);
}

.gases-nobles{
  background-color: var(--gases-nobles);
}

.actinidos{
  background-color: var(--actinidos);
}


/*----------estilos de elementos-------------*/


.grid-items{
  position: relative;
  transition: 0.5s;
}

.grid-items:hover{
  
    background-color: #f3c96f;
  }

.grid-items__header{
  margin: 0;
  height: 20px;
}

.grid-items__numero{
  position: absolute;
  top: -3px;
  left: 0;
  margin: 0;
  padding: 0.5em;
  font-size: 13px;
}

.grid-items__peso{
  position: absolute;
  top: -3px;
  right: 0;
  margin: 0;
  padding: 0.5em;
  font-size: 13px;
}

.grid-items__simbolo{
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.grid-items__nombre{
  margin: 0;
  padding: 0.5em;
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
}






.grid-container .grid-items:nth-child(1) {
  grid-column: 1 / 2;
}

.grid-container .grid-items:nth-child(2) {
  grid-column: 18 / 19;
}

.grid-container .grid-items:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid-container .grid-items:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-container .grid-items:nth-child(5) {
  grid-column: 13 / 14;
  grid-row: 2 / 3;
}

.grid-container .grid-items:nth-child(6) {
  grid-column: 14 / 15;
  grid-row: 2 / 3;
}

.grid-container .grid-items:nth-child(7) {
  grid-column: 15 / 16;
  grid-row: 2 / 3;
}

.grid-container .grid-items:nth-child(8) {
  grid-column: 16 / 17;
  grid-row: 2 / 3;
}

.grid-container .grid-items:nth-child(9) {
  grid-column: 17 / 18;
  grid-row: 2 / 3;
}

.grid-container .grid-items:nth-child(10) {
  grid-column: 18 / 19;
  grid-row: 2 / 3;
}

.grid-container .grid-items:nth-child(11) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.grid-container .grid-items:nth-child(12) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.grid-container .grid-items:nth-child(13) {
  grid-column: 13 / 14;
  grid-row: 3 / 4;
}

.grid-container .grid-items:nth-child(14) {
  grid-column: 14 / 15;
  grid-row: 3 / 4;
}

.grid-container .grid-items:nth-child(15) {
  grid-column: 15 / 16;
  grid-row: 3 / 4;
}

.grid-container .grid-items:nth-child(16) {
  grid-column: 16 / 17;
  grid-row: 3 / 4;
}

.grid-container .grid-items:nth-child(17) {
  grid-column: 17 / 18;
  grid-row: 3 / 4;
}

.grid-container .grid-items:nth-child(18) {
  grid-column: 18 / 19;
  grid-row: 3 / 4;
}

.grid-container .grid-items:nth-child(19),
.grid-container .grid-items:nth-child(20),
.grid-container .grid-items:nth-child(21),
.grid-container .grid-items:nth-child(22),
.grid-container .grid-items:nth-child(23),
.grid-container .grid-items:nth-child(24),
.grid-container .grid-items:nth-child(25),
.grid-container .grid-items:nth-child(26),
.grid-container .grid-items:nth-child(27),
.grid-container .grid-items:nth-child(28),
.grid-container .grid-items:nth-child(29),
.grid-container .grid-items:nth-child(30),
.grid-container .grid-items:nth-child(31),
.grid-container .grid-items:nth-child(32),
.grid-container .grid-items:nth-child(33),
.grid-container .grid-items:nth-child(34),
.grid-container .grid-items:nth-child(35),
.grid-container .grid-items:nth-child(36) {
  grid-row: 4 / 5;
}

.grid-container .grid-items:nth-child(37),
.grid-container .grid-items:nth-child(38),
.grid-container .grid-items:nth-child(39),
.grid-container .grid-items:nth-child(40),
.grid-container .grid-items:nth-child(41),
.grid-container .grid-items:nth-child(42),
.grid-container .grid-items:nth-child(43),
.grid-container .grid-items:nth-child(44),
.grid-container .grid-items:nth-child(45),
.grid-container .grid-items:nth-child(46),
.grid-container .grid-items:nth-child(47),
.grid-container .grid-items:nth-child(48),
.grid-container .grid-items:nth-child(49),
.grid-container .grid-items:nth-child(50),
.grid-container .grid-items:nth-child(51),
.grid-container .grid-items:nth-child(52),
.grid-container .grid-items:nth-child(53),
.grid-container .grid-items:nth-child(54) {
  grid-row: 5 / 6;
}

.grid-container .grid-items:nth-child(55),
.grid-container .grid-items:nth-child(56),
.grid-container .grid-items:nth-child(57),
.grid-container .grid-items:nth-child(58),
.grid-container .grid-items:nth-child(59),
.grid-container .grid-items:nth-child(60),
.grid-container .grid-items:nth-child(61),
.grid-container .grid-items:nth-child(62),
.grid-container .grid-items:nth-child(63),
.grid-container .grid-items:nth-child(64),
.grid-container .grid-items:nth-child(65),
.grid-container .grid-items:nth-child(66),
.grid-container .grid-items:nth-child(67),
.grid-container .grid-items:nth-child(68),
.grid-container .grid-items:nth-child(69),
.grid-container .grid-items:nth-child(70),
.grid-container .grid-items:nth-child(71),
.grid-container .grid-items:nth-child(72) {
  grid-row: 6 / 7;
}

.grid-container .grid-items:nth-child(73),
.grid-container .grid-items:nth-child(74),
.grid-container .grid-items:nth-child(75),
.grid-container .grid-items:nth-child(76),
.grid-container .grid-items:nth-child(77),
.grid-container .grid-items:nth-child(78),
.grid-container .grid-items:nth-child(79),
.grid-container .grid-items:nth-child(80),
.grid-container .grid-items:nth-child(81),
.grid-container .grid-items:nth-child(82),
.grid-container .grid-items:nth-child(83),
.grid-container .grid-items:nth-child(84),
.grid-container .grid-items:nth-child(85),
.grid-container .grid-items:nth-child(86),
.grid-container .grid-items:nth-child(87),
.grid-container .grid-items:nth-child(88),
.grid-container .grid-items:nth-child(89),
.grid-container .grid-items:nth-child(90) {
  grid-row: 7 / 8;
}













