* {
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {}

.main-content .home-menu {

    background-image: linear-gradient(to right, #1f1c45 67%, #db341e 33%)
}

.main-content .home-menu .zone-coffe-detail {}

.main-content {}

.main-content .home-menu .menu {

    display: flex;
    flex-direction: row;
}

.main-content .home-menu .menu .zone-menu {
    
    width: 67%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}
.main-content .home-menu .menu .zone-menu .log{
   
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 36px;
    padding-right: 50px;
}
.main-content .home-menu .menu .zone-menu .home{
     
     background: #db341e;
     padding: 50px 12px 10px 12px;
     font-size: 14px;
     font-weight: bold;
     text-transform: uppercase;
}
.main-content .home-menu .menu .zone-menu .menu-items{
    /* border: 1px dotted red; */
    padding: 50px 12px 10px 12px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

}
.main-content .home-menu .menu .zone-menu .menu-items:hover{
background-color:#db341e; 
}



