
body{
    display: grid;
    place-items: center;
    font-family: 'Ubuntu', sans-serif;
 }

nav {

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(7, fit-content);
    grid-auto-rows: auto;
    grid-gap: 1em;
   
    background: white;
    width: 40%;
  }


  .navHome {
    grid-column: 1;
  }
  
  .navAbout {
    grid-column: 2;
  }

  .navTime {
    grid-column: 3;
  }
  
  .logo {
    grid-column: 4;
    text-align: center;
  }
  
  .navTest {
    grid-column: 5;
  }
  
  .navBook {
    grid-column: 6;
  }

  .navContact {
    grid-column: 7;
  }
  
  .navLinks {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: grey;
  }
  
  .navLinks:hover {
    color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
  }

  .logo .navlogo1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: dodgerblue;
    text-decoration: none;

  }

  .navlogo1 .navlogo2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    color: grey;
    text-decoration: none;
  }


  section {

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(7, fit-content);
    grid-auto-rows: auto;
    grid-gap: 1em;
   
    background: white;

  }

  .bienvenida {
    grid-row: 1;
    position: relative;
    width: 80%;
    clip-path: inset(0 0 20% 0);;
    
  }

  .about {
    grid-row: 2;
  }

  .timeline {
    grid-row: 3;
  }

  .testimonials {
    grid-row: 4;
  }

  .booking {
    grid-row: 5;
  }

  .contact {
    grid-row: 6;
  }


  .text-block {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

  .enlaces {

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, fit-content);
    grid-auto-rows: auto;
    grid-gap: 1em;
    width: 50%;
    background: white;
  }

  .better{
    font-size: 3.5em;
  }

  .definition{
    font-size: x-large;
    color: darkgrey;
  }

  .learn {
    grid-column: 1
  }

  .telephone {
    grid-column: 2;
  }

  .enlaces .learn {
    color: dodgerblue;
  }

  .enlaces {
    font-size: x-large;
    color: darkgray;

  }