$border-stack: solid 1px #000;
$width-stack: 200px;
$height-stack: 50px;
$padding-stack: 10px;

.block-red {
    border: $border-stack;
    height: $height-stack;
    width: $width-stack;
    padding: $padding-stack;
    background: linear-gradient(#ccc, #f00);
}
.block-blue {
    border: $border-stack;
    height: $height-stack;
    width: $width-stack;
    padding: $padding-stack;
    background: linear-gradient(#ccc, #00f);
}

.block{
    height: $height-stack;
    width: $width-stack;
    padding: $padding-stack;
}

.red{
    border: $border-stack;
    background: linear-gradient(#ccc, #f00);
}

.blue{
    border: $border-stack;
    background: linear-gradient(#ccc, #00f);
}

header h1 {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 2em;
    color: #F44;
  }
  
footer h1 {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.5em;
    color: #F44;
    opacity: 0.5;
    filter: alpha(opacity = 50);
  }

  h1 {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #F44;
  }

h1, .h1-size { font-size: 2em;   }
h2, .h2-size { font-size: 1.8em; }
h3, .h3-size { font-size: 1.5em; }

.muted {
    opacity: 0.5;
    filter: alpha(opacity = 50);
 }

 .header {
    width: 200px;
    height: 50px;
    padding: 10px;
  }
  
  .header--small {
    width: 150px;
    height: 50px;
    padding: 10px;
  }
  
  .header__title {
    color: #000;
  }
  
  .header__date {
    color: #000;
  }
  
  .header__text {
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  
  .header__title--secondary {
    color: #aaa;
  }