/* reto 04 styles */
body{
  margin: 0px;
}
.section-4{
  padding: 700px;
  background-color: #1687A0;

}
.titulo-4{
  color: red;
  position: absolute;
  font-size: 64px;
  width: 300px;
  height: 100px;
  left: 1080px;
  top: 50px;
}
#nombre{
position: absolute;
width: 700px;
height: 80px;
left: 450px;
top: 200px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}
#apellido{
position: absolute;
width: 700px;
height: 80px;
left: 1300px;
top: 200px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}
#email{
position: absolute;
width: 700px;
height: 80px;
left: 450px;
top: 350px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}
#tel{
position: absolute;
width: 700px;
height: 80px;
left: 1300px;
top: 350px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}
#descrip{
position: absolute;
width: 1550px;
height: 200px;
left: 450px;
top: 500px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}

#submit{
position: absolute;
width: 150px;
height: 50px;
left: 450px;
top: 750px;
background: #FFFFFF;
border: 1px solid #c52a2a;
}
input::placeholder{
  text-align: start;
  font-size: 30px;
  }
input[value] {
  font-size: 30px;
}  