body{
    margin: 0;
    
}
input::placeholder{
    text-align: start;
    font-size: 30px;
    }
  input[value] {
    font-size: 30px;
  } 
  form{
    border: solid 10px cornflowerblue;
    background-image: url(img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 500px;
  } 
  label{
    color: rgb(247, 247, 247);
    font-size: 40px;
  }
  input{
    background-color: rgba(190, 189, 187, 0.863);
  }