/* Fonts */
@font-face {
  font-family: "Helvetica";
  src: url("../../assets/fonts/Helvetica-Light.woff2") format("woff2"), url("../../assets/fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../assets/fonts/Helvetica.woff2") format("woff2"), url("../../assets/fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../../assets/fonts/Helvetica-Bold.woff2") format("woff2"), url("../../assets/fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Colors */
/* Typography */
/* Sizes */
/**/
footer {
  overflow: hidden;
}
footer .content-row.footer-row-1 {
  margin-bottom: 100px;
  padding-bottom: 100px;
  position: relative;
}
footer .content-row.footer-row-1::before {
  content: "";
  width: 100vw;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  opacity: 0.4;
}
footer .content-row.footer-row-1 .content-column:first-child .column-inner {
  max-width: 460px;
}
footer .content-row.footer-row-1 .content-column:first-child .column-inner .title-wrapper .title {
  --headingWeight: 400;
  max-width: 304px;
}
@media only screen and (max-width: 767px) {
  footer .content-row.footer-row-1 .content-column:first-child .column-inner .title-wrapper .title {
    --headingSize: 28px;
  }
}
footer .content-row.footer-row-1 .content-column:first-child .column-inner .content-wrapper {
  opacity: 0.6;
}
footer .content-row.footer-row-1 .content-column:last-child .button-wrapper {
  --buttonAlign: center;
  text-align: var(--buttonAlign);
}
@media only screen and (min-width: 990px) {
  footer .content-row.footer-row-1 .content-column:last-child .button-wrapper {
    --buttonAlign: right;
  }
}
footer .content-row.footer-row-2 {
  margin-bottom: 70px;
}
footer .content-row.footer-row-2 .footer-menu .menu-item:not(:last-child) {
  margin-bottom: 10px;
}
footer .content-row.footer-row-2 .content-column:first-child .column-inner {
  max-width: 264px;
}
footer .content-row.footer-row-2 .content-column:first-child .footer-logo {
  margin-bottom: 20px;
}
footer .content-row.footer-row-2 .content-column:first-child .footer-logo .logo {
  display: flex;
  align-items: center;
  width: 196px;
  height: 48px;
  position: relative;
}
footer .content-row.footer-row-2 .content-column:first-child .footer-logo .logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer .content-row.footer-row-2 .content-column:first-child .info-list .info-item {
  position: relative;
  padding-left: 2em;
}
footer .content-row.footer-row-2 .content-column:first-child .info-list .info-item:not(:last-child) {
  margin-bottom: 20px;
}
footer .content-row.footer-row-2 .content-column:first-child .info-list .info-item::before {
  content: "";
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
}
footer .content-row.footer-row-2 .content-column:first-child .info-list .info-item.addres::before {
  content: "A.";
}
footer .content-row.footer-row-2 .content-column:first-child .info-list .info-item.telephone::before {
  content: "T.";
}
footer .content-row.footer-row-2 .content-column:first-child .info-list .info-item.email::before {
  content: "E.";
}
footer .content-row.footer-row-2 .content-column:nth-child(2) .column-inner, footer .content-row.footer-row-2 .content-column:last-child .column-inner {
  max-width: 160px;
}
@media only screen and (min-width: 768px) {
  footer .content-row.footer-row-2 .content-column:nth-child(2) .column-inner {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 990px) {
  footer .content-row.footer-row-2 .content-column:last-child .column-inner {
    margin: 0 0 0 auto;
  }
}
footer .content-row.footer-row-2 .content-column:not(:last-child) {
  margin-bottom: 50px;
}
footer .content-row.footer-socket .content-wrapper {
  opacity: 0.4;
}/*# sourceMappingURL=footer.css.map */