body{
    margin:0;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.header-nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: #1F3F68;
    text-decoration: none;
    margin-right: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.04em;
}

.banner{
    background-image: url(/assets/img/banner.png);
    background-size: cover;
    display: flex;
    width: auto;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.banner-text{
    
    width:800px;
    
}
.banner-text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 74px;
    letter-spacing: 0.04em;
}
.banner-text p{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.04em;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.78);
}
button i {
    font-size: 16px;
    margin-right: 5px;
    color:  #1F3F68 ;
    background-color: #F4F4F4;;
}

.buscador{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular-info{
    display: flex;
    height: 100%;
}
.popular-info p{
    font-size:16px;
}
.popular-info-detail{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.popular-info-detail-text{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}
.popular-title h1{
    font-family: Helvetica;
    color: #356EAD;
}
.info-detail-title h1{
    margin: 0;
    font-family: Helvetica;
    color: #1F3F68;
}
.info-detail-text{
    font-family: Arial;
    opacity: 60%;  
    letter-spacing: 0.04em;
}
.info-detail-contact{
    display: flex;
    justify-content: space-between;
}
.contact-data-name{
    font-family: Helvetica;
    color: #1F3F68;
}
.contact-data-date{
    font-family: Arial;
    color: #1F3F68;
    opacity: 40%;
}
.contact-data-options{
    display: flex;
}

.popular{
    max-width: 940px;
    margin:0 auto;
}

.popular-info-others{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    width: 940px;
}

.popular-info-img-article img{
    height: 250px;
}

.popular-info-others-row{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.article{
    max-width: 940px;
    margin: 20px auto;
}
.article-nav a{
    text-decoration: none;
    font-family: Helvetica;
    opacity: 80%;
    color: #1F3F68;
    margin-bottom: 20px;
}
.article-nav{
    display: flex;
    justify-content: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.article-data a{
    display: flex;
    justify-content: left;
    text-decoration: none;
    font-family: Helvetica;
    opacity: 80%;
    color: #1F3F68;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article-info{
    display: flex;
    height: 250px;
    margin-bottom: 30px;
}
.article-arrows{
    display: flex;
    justify-content: space-between;
}
.article-arrows a{
    text-decoration: none;
    color: #356EAD;
    font-family: Arial;
}
.about-background{
    background-color: #316099;
    border-bottom: 1px solid white;
}
.about{
    display: flex;
    width: 940px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.about-text{
    width: 50%;
    text-align: left;
    margin: 50px auto;
    
}
.about-text h2{
    font-family: Helvetica;
    color: white;   
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
}
.about-text p {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: white;
    opacity: 60%;
}
.about-button{
    width: 50%;
}
.about-button button{
    width: 220px;
    height: 56px;
    background-color: #5A98D0;
    color: white;
    border-style: none;
    font-family: Arial;
}
.footer-nav-detail{
    display: flex;
}
.footer{
    display: flex;
    justify-content: space-between;

}
.footer-info{
    display: flex;
    flex-direction: column;
    width: 940px;
    margin: 0 auto; 
    color: white;
}
.footer-info p{
    font-family: Helvetica;
}
.footer-info a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    margin-bottom: 20px;
}
.footer-copy p{
    opacity: 60%;
}
.final{
    background-color: #316099;
    
}

@media screen and (min-width: 424px) and (max-width: 827px) {
    .about{
        margin-left: 20px;
    }
    .footer{
        margin-left: 20px;
    }
    .footer > div:first-child,
.footer > div:nth-child(2) {
  float: left;
}

.footer > div:last-child {
  clear: both;
}
}

@media screen and (max-width: 423px){
    .header a{
        font-size: 10px;
    }
    
    .popular-info{
        display: flex;
        flex-direction: column;
    }
    .popular-info-img{
        order: -1;
    }
    .popular-info-others{
        display: flex;
        flex-direction: column;
    }
    .popular-info-img{
        display: flex;
        width: 410px;
        align-items: center;
        justify-content: center;
    }
    .popular-info-detail{
        display: flex;
        width: 410px;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
   
    .article-info{
        display: flex;
        flex-direction: column;
    }
    .about{
        display: flex;
        flex-direction: column;
        width: 420px;
    }
    .about-button{
        margin-bottom: 20px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        width: 410px;
    }


    

}


