body {
    background-color: #995bed;
    color: #555;
}

.wrapper {
    width: 300px;
    margin: 30px auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-radius: 2px;
}

.logo {
    text-transform: uppercase;
    color: #ccc;
    text-align: center;
}

.nav {
    list-style: none;
    flex-grow: 1;
    padding: 0;
}

.nav li {
    padding: 15px;
    cursor: pointer;
}

.nav li:active,
.nav li:hover {
    background-color: #f7f2ff;
    color: #995bed;
}

.nav li .fa-house,
.nav li .fa-circle-question,
.nav li .fa-envelope,
.nav li .fa-address-book {
    margin-right: 10px;
}

.imagen {
    text-align: center;
    margin-top: 20px;
}

.imagen img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}