.titulo{
    position: absolute;
width: 232px;
height: 74px;
left: 386px;
top: 53px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 74px;
/* identical to box height */


color: #FFFFFF;

}