* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    height: 60px;
    justify-items: center;
    align-items: center;

    $menu-weight: 700;
    $menu-size: 20px;
    $menu-letter-spacing: 0.0.4em;

    @mixin menu-letter($weight, $size, $letter-spacing, $color ) {
        font-weight: $weight;
        font-size: $size;
        letter-spacing: $letter-spacing;
        color: $color ;
    }

    .logo {
        border: 2px solid #316099;
        border-radius: 50%;
        @include menu-letter($menu-weight, $menu-size, $menu-letter-spacing, #1F3F68);
        padding: 10px 10px 10px 10px;
        justify-self: start;
        margin-left: 20px;
    }

    .home {
        @include menu-letter($menu-weight, $menu-size, $menu-letter-spacing, #1F3F68)
    }

    .entertaiment,
    .sports {
        @include menu-letter($menu-weight, $menu-size, $menu-letter-spacing, black)
    }
}

.frontpage {
    background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;

    $text-align-center: center;
    $frontpage-weight: 400;
    $frontpage-letter-spacing: 0.0.4em;

    @mixin frontpage-letter($weight, $size, $letter-spacing, $text-align) {
        font-style: normal;
        font-weight: $weight;
        font-size: $size;
        letter-spacing: $letter-spacing;
        text-align: $text-align;
    }

    .blog-title {
        @include frontpage-letter($frontpage-weight, 44px, $frontpage-letter-spacing, $text-align-center);
        margin-bottom: 20px;
    }

    .blog-detail {
        @include frontpage-letter($frontpage-weight, 20px, $frontpage-letter-spacing, $text-align-center);
    }
}

.populer-articles {

    padding: 50px 80px 50px 150px;
    $weight: 700;
    $weight-medium: 400;
    $letter-spacing: 0.04em;
    $margin-top: 30px;
    $size-short: 14px;

    @mixin frontpage-letter($weight, $size, $letter-spacing, $color) {
        font-style: normal;
        font-weight: $weight;
        font-size: $size;
        letter-spacing: $letter-spacing;
        color: $color
    }

    .popular {
        .main {
            .main-title {
                @include frontpage-letter($weight, 20px, $letter-spacing, #356EAD);
                opacity: 0.8;
                text-transform: uppercase;
            }

            .main-new {
                display: grid;
                grid-template-columns: 2fr 3fr;
                margin-top: $margin-top;

                .new {
                    .title {
                        @include frontpage-letter($weight, 36px, $letter-spacing, #1F3F68);
                    }
                    .detail {                        
                        @include frontpage-letter($weight-medium, 16px, $letter-spacing, #000000);
                        opacity: 0.6;
                        margin-top: 10px;
                    }
                    .information-actions {
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        margin-top: $margin-top;
                        .author {
                            .author-name {                                
                                @include frontpage-letter($weight, $size-short, $letter-spacing, #1F3F68);
                            }
                            .read-date {
                                border: 1px dotted red;
                                @include frontpage-letter($weight-medium, $size-short, $letter-spacing, #1F3F68);
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
    }
}