body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
    
}
.dropdown{
    margin-bottom: 8rem;
}

.container-img2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    border: black 1px solid;
    width: 40rem;
    color: blue;
}
.titulo{
    border: black 1px solid;
    width: 40rem;
}
.testo{
    color:black
}
.modal{
    display: none; /* Ocultar el modal por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.buttonModal{
    margin-top: 8rem;
}
.modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-width: 500px;
  text-align: center;
}
