.master_container {
    background-color: beige;
    width: 100%;
    height: 100vh;
  }
  .fila {
    display: flex;
    justify-content: space-between;
    height: 10%;
}

    .fila_col_1 {
        display: flex;
        width: 11.11%;
      }
      .fila_col_2 {
        display: flex;
        width: 33.33%;
      }
      .element {
        border-top: solid 1px black;
        border-left: solid 1px black;
        width: 5.55%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .element_col {
        border-top: solid 1px black;
        border-left: solid 1px black;
        width: 5.55%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }