body {
    font-family: Arial, Helvetica, sans-serif;
    background: #300940;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }

    .contenedor {
        min-width: 15em;
        position: relative;
        margin: 2em;
    }

    .contenedor * {
        box-sizing: border-box;
    }

    .select {
        background: #2a2f3b;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5em;
        padding: 1em;
        cursor: pointer;
        transition: background 0.3s;
    }

    .select-clicked {
        border: 2px #7c0331 solid;
        box-shadow: 0 0 0.8em #6d0133;
    }

    .select:hover {
        background: #ad0dd1;
    }

    .icono {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #fff;
        transition: 0.3s;
    }

    .icono-rotate {
        transform: rotate(180deg);
    }

    .dropdown {
        list-style: none;
        padding: 0.2em 0.5em;
        background: #323741;
        border: 1px #363a43 solid;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
        color: #9fa5b5;
        position: absolute;
        top: 3em;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
        transition: 0.2s;
        z-index: 1;
    }

    .dropdown li {
        padding: 0.7em 0.5em;
        margin: 0.3em 0;
        border-radius: 0.5em;
        cursor: pointer;
    }

    .dropdown li:hover {
        background: #ef1de1;
    }


    .active {
        background: #862d88;
    }

    .dropdown-open {
        display: block;
        opacity: 1;
    }