@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');



$regular: 400;
$bold: 700;
$fontsize: 16px;
$bck-gray:  rgb(214, 214, 214);
$fontcolor: rgb(0, 0, 0);


.container{
    max-width: 1400px;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-weight: $bold;
    color: $fontcolor;
}

h1{
    font-size: 42px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: $regular;
    font-size: $fontsize;
}

a{
    text-decoration: none;
    color: $fontcolor;
}

header{
    background: $bck-gray;
    padding: 30px;
    a{
        display: flex;
        align-items: center;
        img{
            width: 10%;
        }
        h1{
            width: 90%;
            text-align: center;
        }
    }
    h2{
        text-align: center;
    }
}

nav{
    margin-top: 10px;
    background: $bck-gray;
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        list-style: none;
        align-items: center;
        li{
            text-transform: uppercase;
        }
        li:not(:last-child){
            margin-right: 10px;
            a{
                transition: color ease-in-out 0.25s;
                text-transform: uppercase;
                &:hover{
                    color: red;
                }
            }
        }
    }
}

section{
    min-height: 20em;
}

footer{
    div{
        background: $bck-gray;
        display: flex;
        justify-content: center;
        a{
            &:not(:last-child){
                margin-right: 15px;
            }
            img{
                width: 100%;
                max-width: 3em;
                height: 100%;
                display: block;
            }
        }
    }

    p{
        background: $bck-gray;
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
    }
}