* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #e3f2fd;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdownsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0 160px;

    .dropdown {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 40px;

        &__title {
            color: #222;
            font-size: 2.8rem;
            margin-bottom: 40px;
        }

        &__btn {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 300px;
            gap: 20px;
            font-size: 1.8rem;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            box-shadow: 0 0 8px 1px #d3d3d3;
            cursor: pointer;

            &:active {
                background-color: #d3d3d3;
            }

            img {
                width: 10px;
                height: 10px;
            }

            .toTop {
                transform: rotateZ(0deg);
                animation: toTop 0.2s linear forwards;
            }

            @keyframes toTop {
                0% {
                    transform: rotateZ(0deg);
                }
                100% {
                    transform: rotateZ(180deg);
                }
            }

            .toDown {
                transform: rotateZ(180deg);
                animation: toDown 0.2s linear forwards;
            }

            @keyframes toDown {
                0% {
                    transform: rotateZ(180deg);
                }
                100% {
                    transform: rotateZ(0deg);
                }
            }
        }

        .optionsList {
            list-style: none;
            position: absolute;
            top: 160px;
            background-color: #fff;
            width: 100%;
            max-width: 300px;
            padding: 10px 10px;
            border-radius: 10px;
            box-shadow: 0 0 8px 1px #d3d3d3;
            z-index: 1;

            &__item {
                cursor: pointer;
                border-radius: 10px;

                &:hover {
                    background-color: #e6e6e6;
                }

                a {
                    color: #000;
                    display: inline-block;
                    width: 100%;
                    font-size: 1.8rem;
                    text-decoration: none;
                    padding: 10px 20px;
                }
            }
        }
    }
}