
.nav-links .nav-item a {
    color: white;
    text-decoration: none !important;
    
}

a:hover {
    background-color: #db3620;     
    text-decoration: none;
    
    }


body {

    font-family: 'Poppins', sans-serif;

}

.navbar {

    
    display: flex;
    font-weight: bold;
    color: white;
    
    
}

.logo {
    width: 203px;
    padding: 36px 0px 10px ;
    font: 25px;
    align-self: flex-end;
}

.nav-links {
    
    width: 100%;
    display: flex;
    color: white;
    

}

.nav-item{
    
    padding: 50px 23px 10px;
    color: white;
    font-size: 14px;
    text-align: center;
    
}

.primera-parte{
    display: flex;
    
}

.morado{
    width: 60%;
    background-color: #1f1d47;
}

.naranja{
    background-color: #db3620;
    width:40%;
}

.headline {
    color: white;
    padding: 25% 30% 10% 50%;
}