* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 40px 90px;
}

.header {
    width: 100%;

    &__title {
        color: #0044aa;
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 20px;
    }

    &__description {
        font-size: 2.0rem;
        text-align: center;
        margin-bottom: 80px;
    }
}

.main {
    width: 100%;

    .algoritmo {
        &__description {
            color: #333;
            font-size: 2.4rem;
            margin-bottom: 30px;
        }
    
        &__btn {
            border: none;
            background-color: #0d6efd;
            color: #fff;
            font-size: 1.8rem;
            padding: 8px 16px;
            border-radius: 10px;
            margin-left: 50px;
            cursor: pointer;
    
            &:hover {
                background-color: #0053cf;
            }
            
            &:active {
                background-color: #333;
            }
        }

        &__answer {
            color: #333;
            font-size: 2.0rem;
            margin-left: 30px;
        }
    
        &:not(:last-of-type) {
            margin-bottom: 90px;
        }
    }
}
