body {
    font-family: 'Poppins', sans-serif;
}




.headerContainer {
    background: linear-gradient(to right, #1f1c45 67%, #db341e 33%);
    position: relative;
    width: 100%;
    border-left: 20px solid #fff;
    border-bottom: 20px solid #fff;
    padding-bottom: 170px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar__navegation {
    display: flex;
    flex-wrap: wrap;
}

.navegation__item,
.navegation__item a {
    color: #fff;
    text-transform: uppercase;
    padding-top: 50px;
    cursor: pointer;
}

.navegation__item a {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 50px 12px 10px;
    transition: background-color 0.3s ease-in-out;
}

.navegation__item #active {
    background-color: #db341e;
}

.navegation__item a:hover {
    background-color: #db341e;
}

.navegation__item--logo {
    padding: 53px 82px 0 30px;
}

.navegation__item--logo h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 30px
}

.navegation__item--search {
    transition: background-color 0.3s ease-in-out;
}

.navegation__item--search:hover {
    background-color: #db341e;
}

.navegation__item--search .fa-magnifying-glass {
    font-size: 1.4rem;
    padding: 0 12px 10px;
}


.navbar__contact {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 41px 40px 0;
}

.navbar__contact .fa-phone,
.navbar__contact .fa-envelope {
    font-size: 1.6rem;
    margin-right: 10px;
}

.navbar__contact p {
    color: #fff;
    font-size: 1.6rem;
}


.presentation {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 0 15px;
    margin: 60px auto 0;
}

.presentation__content {
    color: #fff;
    width: 40%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.presentation__content__name {
    text-transform: uppercase;
    font-size: 6.7rem;
    font-weight: 700;
    line-height: 6.9rem;
    padding-bottom: 48px;
}

.presentation__content_description {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-bottom: 50px;
}

.presentation__content__btnContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.presentation__content__btnContainer button {
    text-transform: uppercase;
    background-color: #db341e;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 800;
    padding: 20px 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.presentation__content__btnContainer button:hover {
    background-color: #000;
}


.presentation__image {
    width: 60%;
    min-width: 200px;
    padding-left: 30px;
}

.presentation__image img {
    width: 100%;
    filter: drop-shadow(0px 0px 41px #fff3);
}


.arrow-left,
.arrow-right {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 89px;
    height: 89px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.headerContainer .arrow-right,
.services .arrow-right {
    left: 0;
    bottom: 10px;
}

.headerContainer .arrow-left,
.services .arrow-left {
    left: 0;
    bottom: 120px;
}

.arrow-left .fa-angle-left,
.arrow-right .fa-angle-right {
    color: #1f1c45;
    font-size: 4.5rem;
    transition: color 0.5s ease-in-out;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: #db341e;
}

.arrow-left:hover .fa-angle-left,
.arrow-right:hover .fa-angle-right {
    color: #fff;
}






.mainContainer {
    width: 100%;
}

.about {
    background-color: #1f1d47;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 60px;

    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff;
    padding-bottom: 90px;
    width: 100%;
}

.about__image {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    padding-right: 40px;
}

.about__image img {
    width: 100%;
}


.about__content {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;
}

.about__content__title {
    color: #fff;
    font-size: 3.4rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about__content__description {
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 29px;
}

.about__content__btn {
    background-color: #db341e;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 20px 58px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.about__content__btn:hover {
    background-color: #000;
}




.services {
    width: 100%;
    background-color: #1f1d47;
    position: relative;

    border-left: 20px solid #fff;
    border-bottom: 20px solid #fff;

    padding: 80px 15px 98px;

    display: flex;
    flex-direction: column;
}

.services__title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4rem;
    margin-bottom: 15px;
}

.services__description {
    font-size: 1.7rem;
    line-height: 3.0rem;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}


.services__typesCoffees {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.typeCoffee__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.typeCoffee__item__image {
    background-color: #fff;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
}

.typeCoffee__item__image img {
    width: 70%;
}

.typeCoffee__item__name {
    color: #fff;
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 10px;
}

.typeCoffee__item__description {
    color: #fff;
    text-align: center;
    font-size: 1.7rem;
    line-height: 3.0rem;
}

.services__btn {
    background-color: #db341e;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 20px 40px;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.services__btn:hover {
    background-color: #000;
}

.typeCoffee__item--center .typeCoffee__item__image {
    background-color: #db341e;
    width: 250px;
    height: 250px;
}

.typeCoffee__item--center .typeCoffee__item__name {
    font-size: 3.5rem;
}

.typeCoffee__item--center .typeCoffee__item__description {
    font-size: 2.0rem;
    line-height: 3.0rem;
}




.contact {
    display: flex;
    background-color: #1f1d47;

    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff;

    padding: 75px 0 350px;
    position: relative;
}


.form {
    width: 50%;
    padding: 0 70px 0 15px;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 4.4rem;
    margin-bottom: 40px;
}

.form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form input,
.form form textarea {
    width: 100%;
    margin-bottom: 33px;
    color: #626262;
    font-size: 1.7rem;
    padding: 27px 30px;
}

.form form textarea {
    margin-bottom: 50px;
    padding: 60px 30px 40px;
}

.form form input[type="submit"] {
    background-color: #db341e;
    color: #fff;
    width: 23.6rem;
    font-size: 1.7rem;
    font-weight: 800;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out,
                color 0.5s ease-in-out;
}

.form form input[type="submit"]:hover {
    background-color: #fff;
    color: #db341e;
}


.testimonial {
    width: 50%;
    padding: 0 15px 0 70px;
    position: relative;
}

.testimonial__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 4.4rem;
    margin-bottom: 40px;
}

.testimonial__content {
    width: 100%;
    background-color: #fff;
    padding: 120px 40px;
    position: relative;
}

.testimonial__content__testimonio {
    color: #060505;
    font-size: 1.7rem;
    line-height: 3.6rem;
}

.testimonial__content__profile {
    position: absolute;
    display: flex;
    align-items: center;
    left: 30px;
    bottom: 0;
    transform: translateY(70%);
}

.testimonial__content__profile img {
    box-shadow: -11px -15px 0 0 #db341e;
}

.testimonial__content__profile h5 {
    font-size: 2.0rem;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    padding: 10px 0 0 25px;
}

.testimonial__content__profile h5 p {
    font-size: 1.4rem;
    color: #db3620;
}

.testimonial__imageFloat {
    position: absolute;
    right: 10px;
    bottom: 70px;
}

.testimonial .arrow-left,
.testimonial .arrow-right {
    background-color: #1f1d47;
}

.testimonial .arrow-right {
    right: 0;
    bottom: 50%;
    transform: translateY(51%);
}

.testimonial .arrow-left {
    right: 0;
    bottom: 50%;
    transform: translateY(-51%);
}

.testimonial .arrow-left .fa-angle-left,
.testimonial .arrow-right .fa-angle-right {
    color: #fff;
    font-size: 4.5rem;
    transition: color 0.5s ease-in-out;
}

.testimonial .arrow-left:hover,
.testimonial .arrow-right:hover {
    background-color: #fff;
}

.testimonial .arrow-left:hover .fa-angle-left,
.testimonial .arrow-right:hover .fa-angle-right {
    color: #1f1d47;
}



.footerContainer {
    background-color: #1f1d47;
    position: relative;
    border-left: 20px solid #fff;
    border-bottom: 20px solid #fff;
    padding-top: 200px;
}

.footerContainer h2 {
    font-size: 5.0rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
}

.footerContainer__subscribe {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    border-bottom: 1px solid #fff;
    margin-bottom: 70px;
}

.footerContainer__subscribe input[type="email"] {
    width: 100%;
    background-color: #1f1d47;
    font-size: 1.4rem;
    color: #fff;
}

.footerContainer__subscribe input[type="submit"] {
    background-color: #1f1d47;
    color: #db3620;
    font-size: 2.5rem;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
}

.footerContainer__subscribe input[type="submit"]:hover {
    color: #fff;
}

.footerContainer__links {
    display: flex;
    justify-content: space-between;
}

.list-links,
.list-icons {
    padding: 0 30px;
}

.list-links h5,
.list-icons h5 {
    font-size: 3.0rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}

.list-links li a {
    color: #fff;
    font-size: 2.0rem;
    line-height: 3.6rem;
    transition: color 0.3s ease-in-out;
}

.list-links li a:hover {
    color: #db341e;
}

.list-icons__icons {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.list-icons__icons .fa-facebook-f,
.list-icons__icons .fa-twitter,
.list-icons__icons .fa-linkedin-in,
.list-icons__icons .fa-instagram,
.list-icons__icons .fa-youtube {
    font-size: 3.2rem;
    color: #fff;
    cursor: pointer;
}

.list-icons .fa-location-dot,
.list-icons .fa-phone,
.list-icons .fa-envelope {
    color: #fff;
    font-size: 3.1rem;
    margin-right: 10px;
}

.list-icons li {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 20px;
}

.footerContainer p {
    color: #686784;
    font-size: 1.8rem;
    text-align: center;
    margin: 60px 0 20px 0;
}


.footer-float1,
.footer-float2 {
    position: absolute;
}

.footer-float1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-float2 {
    right: 0;
    bottom: 0;
}