

h2 {

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 41px;

color: #FF1B1B;
text-align: center;

}

.formulario {

padding: 50px;
background-color: #1687A0;

}

.text-format {

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

}

.form-center {
    display:flex;
    justify-content: center;
   
}

.enviar {
    background-color: black;
    color: white;
    width: 196px;
    height: 48px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.casillas {
    width: 363px;
    height: 59px;
    vertical-align: top;
   }

.descripcion {
    width: 759px;
    height: 112px;
    text-align:left;
}

table {
    border-collapse: separate;
    border-spacing: 30px 0;
  }