
@mixin containersFooter($element) {
    background-color: $background-footer;
    width: 100%;
    display: grid;
    justify-content: center;

    @if $element == about {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(3, auto);
        padding: 51px 48px 40px 22px;
        border-bottom: 1px solid #fff;
    }
    @else if $element == links {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, auto);
        padding: 51px 22px 10px;
    } 
}


@mixin footer-text($size, $weight, $spacing, $font, $color) {
    font-size: 1.6rem + $size;
    font-weight: 400 + $weight;
    font-family: $font;
    letter-spacing: 0.032rem + $spacing;

    @if $color == normal {
        color: $footer-content;
    }
    @else if $color == opacity {
        color: $footer-opacity;
    }
}