* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(#67e3cb, #4b81e5);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 50px 20px;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  padding: 40px;
}
.container__title {
  font-size: 3rem;
  margin-bottom: 30px;
}
.container__formTarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 70px;
}
.container__formTarea label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.container__formTarea input {
  font-size: 1.6rem;
  padding: 5px 20px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #1e54b8;
}
.container__formTarea input:focus {
  box-shadow: 0 0 5px 1px #3061bd;
}
.container__formTarea button {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #1756cb;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
}
.container__formTarea button:hover {
  box-shadow: 0 0 5px 1px #333;
}
.container__formTarea button:active {
  box-shadow: none;
}
.container .filterButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.container .filterButtons span {
  font-size: 1.6rem;
  font-weight: 700;
}
.container .filterButtons button {
  background-color: #67e3cb;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}
.container .filterButtons button:hover {
  box-shadow: 0 0 5px 0 #333;
}
.container .filterButtons button:active {
  box-shadow: none;
}
.container .listaTareasContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.container .listaTareasContainer .itemContainer {
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 20px 40px;
  gap: 10px;
  overflow: hidden;
}
.container .listaTareasContainer .itemContainer .checkboxInput {
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
}
.container .listaTareasContainer .itemContainer .checkboxInput:hover {
  box-shadow: 0 0 5px 0 #333;
}
.container .listaTareasContainer .itemContainer .btnEliminar {
  background-color: rgb(238, 80, 80);
  color: #fff;
  min-width: 40px;
  min-height: 40px;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.container .listaTareasContainer .itemContainer .btnEliminar:hover {
  box-shadow: 0 0 5px 0 #333;
}
.container .listaTareasContainer .itemContainer .btnEliminar:active {
  box-shadow: none;
}
.container .listaTareasContainer .itemContainer .informationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.container .listaTareasContainer .itemContainer .informationContainer__title {
  font-size: 2rem;
}
.container .listaTareasContainer .itemContainer .informationContainer__description {
  font-size: 1.6rem;
  text-align: center;
}
.container .listaTareasContainer .itemContainer .informationContainer__date {
  font-size: 1.4rem;
  font-weight: 700;
}
.container .listaTareasContainer .itemContainer--completed {
  background-color: #95bafd;
}/*# sourceMappingURL=style.css.map */