.all_posts{
    width: 45%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "h2 h2 h2"
                         "post1 post1 post1"
                         "post2 post3 post4";
    section{
        span{
            display: flex;
            justify-content: space-between;
            .icons{
                display: flex;
                i{
                    margin-inline: 0.3em;
                }
            }
        }
    }
}

.title-h2{
    grid-area: h2;
}

.all_posts .post__1{
    grid-area: post1;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "title image"
                         "parrafo image"
                         "info_p image"; 
    .title-h1{
        grid-area: title;
    }
    p{
        grid-area: parrafo;
    }
    span{
        grid-area: info_p;
    }
    .img-principal{
        grid-area: image;
    }
}

.post__2, .post__3, .post__4{
    
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "image"
                         "title"
                         "texto"
                         "info_p";
    .img-secundary{
        grid-area: image;
    }
    .title-h1{
        font-size: 1.5em;
        grid-area: title;
    }
    p{
        grid-area: texto;
    }

    span{
        grid-area: info_p;
    }
}

.all_posts .post__2{
    grid-area: post2;
}

.all_posts .post__3{
    grid-area: post3;
}

.all_posts .post__4{
    grid-area: post4;
}