* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-image: linear-gradient(to right, #1f1c45 70%, #db341e 30%);
  color: #fff;
}

.bloque1,
.services,
.bloque5 {
  margin: 0 0 22px 22px;
}

.about,
.cuarto {
  margin: 0 22px 22px 0;
}

.cont_header {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

nav {
  background: transparent;
  height: 20px;
  width: 100%;
}

nav ul {
  float: left;
  margin-left: 70px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active,
li a:hover {
  background: rgb(219, 52, 30);
  transition: 0.5s;
  background-size: 100px 100px;
}

.elemento_icono {
  align-self: center;
}

.contenedor_header1 {
  display: flex;
  flex: 8.3%;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
  font-size: 19px;
}

.contenedor_header2 {
  display: flex;
  flex: 53%;
  margin-top: 20px;
}

.contenedor_header2 p {
  margin: 20px;
}

.contenedor_header3 {
  display: flex;
  flex: 33%;
  justify-content: right;
  margin-top: 42px;
}

.contenedor_header3 p {
  margin: 15px;
}

.contenedor_background {
  display: flex;
}

.btn_background {
  background: #db341e;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  width: 150px;
  height: 50px;
  border: none;
}

.titulo {
  flex: 80%;
  margin: 80px 80px 80px 300px;
}

.titulo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  margin: 0;
}

.titulo h4 {
  font-family: "Poppins", sans-serif;
}

.imagen_cafe {
  flex: 50%;
  margin: 80px 80px 80px -400px;
}

.imagen_cafe img {
  width: 500px;
  height: 500px;
}

.about {
  display: flex;
  flex: 50%;
  justify-content: center;
  background-color: #1f1c45;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.about h2 {
  font-size: 50px;
  margin: 0;
}

.imagen_te img {
  height: 700px;
}

.acerca {
  padding: 260px 0px;
  padding-left: 20px;
}

.services {
  background-color: #1f1c45;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.services_titulo {
  text-align: center;
}

.services_titulo h2 {
  margin: auto;
  font-size: 50px;
}

.cafes_imagenes {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.cafe {
  text-align: center;
}

.cafe img {
  padding-top: 25px;
}

.cafe1 {
  background: #fff;
  border-radius: 10px;
}

.cafe1 img {
  width: 440.53px;
  height: 443.84px;
  padding: 50px;
}

.cafe2 {
  background: #db341e;
  border-radius: 10px;
}

.cafe2 img {
  width: 550.56px;
  height: 548.2px;
  padding: 50px;
}

.reservar {
  text-align: center;
}

.cuarto {
  display: flex;
  color: #fff;
  background-color: #1f1c45;
  padding: 75px 0;
}

.contacto {
  flex: 50%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-right: 1px solid;
}

.titulo_contacto {
  font-size: 30px;
}

.cuadros_contacto {
  margin: 40px;
}

.testimonios {
  flex: 50%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-left: 50px;
}

.titulo_testimonio {
  text-align: left;
  font-size: 30px;
}

.parrafo_testimonio {
  position: relative;
}

.customer {
  position: absolute;
  bottom: -116px;
  left: 26px;
  display: flex;
}

.customer_foto {
  position: relative;
  z-index: 10;
}

.customer_info {
  padding-left: 35px;
}

.customer_foto::before {
  position: absolute;
  content: "";
  background: #db341e;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: -10px;
  left: -10px;
}

.contactus {
  width: 100%;
  height: 74px;
  font-family: "Poppins", sans-serif;
}

.textarea {
  width: 100%;
  height: 178px;
  font-family: "Poppins", sans-serif;
}

.send_btn {
  font-family: "Poppins", sans-serif;
  background: #db341e;
  border-radius: 30px;
  color: #fff;
  border: none;
  width: 180px;
  height: 50px;
  font-size: 15px;
}

.testimonial_box p {
  background: #fff;
  padding: 100px 30px;
  color: #060505;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  margin-top: 42px;
}

.cof {
  text-align: right;
  margin-top: 70px;
}

footer {
  background: #1f1c45;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.footer {
  text-align: center;
}

.contain1 {
  text-align: center;
}

.contain1 p {
  font-size: 25px;
}

.introducir {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin: 0 380px;
}

.contactus_footer {
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  margin-right: 760px;
}

.btn_footer {
  border: none;
  background: none;
  color: #db341e;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.contain3y4 {
  display: flex;
  justify-content: center;
}

.contain3y4 ul {
  list-style: none;
}

.contain3 {
  display: flex;
}

.columna1 {
  margin-right: 190px;
}

.columna2 {
  margin-right: 190px;
}

ul {
  padding-left: 0;
}

.li_icon li {
  display: inline-block;
  margin-left: 10px;
}

li {
  margin-bottom: 10px;
}

i {
  padding-right: 10px;
}

.copyright {
  text-align: center;
  color: #686784;
}
