
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background: rgb(86, 14, 14);
}
.contenedor-deslizo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}
.contenedor-deslizo h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}
.deslizo{
    background: #fff;
}
.deslizo label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background: #a42906;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
    border-radius: 5px;
}
.deslizo label:hover{
    background: #af8e8e;
}
.deslizo .respuestas-deslizo{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}
.btn-deslizo:checked ~ .respuestas-deslizo{
    max-height: 600px;
    padding: 15px 0px;
}
.btn-deslizo{
    display: none;
}