* {
    box-sizing: border-box;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Popins, sans-serif;
}

.main-content div {}

.main-content .zone-coffe {
    background-image: linear-gradient(to right, #1f1c45 67%, #db341e 33%);
}

.main-content .zone-coffe .menu {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.main-content .zone-coffe .menu .zone-menu {
    width: 67%;
    display: flex;
    flex-direction: row;    
    padding-left: 30px;
}

.main-content .zone-coffe .menu .zone-menu .log {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 36px;
    padding-right: 50px;
}

.main-content .zone-coffe .menu .zone-menu .home {
    padding-top: 36px;
    background-color: #db341e;
    padding: 50px 18px 10px 18px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-content .zone-coffe .menu .zone-menu .about {
    padding-top: 36px;
    padding: 50px 18px 10px 18px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-content .zone-coffe .menu .zone-menu .menu-item {
    padding-top: 36px;
    padding: 50px 18px 10px 18px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-content .zone-coffe .menu .zone-menu .menu-item:hover {
    background-color: #db341e;
}

.main-content .zone-coffe .menu .number-menu {
    width: 33%;
    display: flex;
    flex-direction: row;
}

.main-content .zone-coffe .zone-coffe-detail .box-detail-image {
    display: flex;
    flex-direction: row;
}

.main-content .zone-coffe .zone-coffe-detail .box-detail-image .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-left: 60px;

}

.main-content .zone-coffe .zone-coffe-detail .box-detail-image .detail .title {

    font-size: 121px;
    font-weight: bold;
    line-height: 120px;
    padding-bottom: 50px;
}

.main-content .zone-coffe .zone-coffe-detail .box-detail-image .detail .description {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 50px;
}

.main-content .zone-coffe .zone-coffe-detail .box-detail-image .detail .buttons {}

.main-content .zone-coffe .zone-coffe-detail .box-detail-image .detail .buttons .button {
    width: 200px;
    height: 60px;
    background-color: #db341e;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}