$color-logo-nav: #316099;
$color-logo-footer: #98C3E8;
// Fondo - Gradient
$color-gradient-1:#98D0FC;
$color-gradient-2:#3481D7;
// _____
$color-text-principal: #1F3F68;
$color-text-secundari: #356EAD;
$color-search: #F4F4F4;
$color-text-normal: #000;
$color-text-fech: #00000066;
$color-fondo-footer: #316099;
$color-text-footer: #fff;
$color-button: #5A98D0;
$color-icons: #356EAD;

