@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

$font-menu: 'Helvetica';
$font-logo: "Abel",sans-serif;
$font-presentation: 'Arial';
$font-normal: 'Arial';
$font-titles: 'Helvetica';
$font-footer-titles: 'Helvetica';
$font-footer: 'Alef', sans-serif;
