@import '../atoms/buscador.css';
@import '../atoms/button.css';
@import '../atoms/icons.css';
@import '../atoms/imgs.css';

@import '../organism/article.scss';
@import '../organism/footer.scss';
@import '../molecules/menu-article.scss';
@import '../molecules/nav.scss';
@import '../organism/posts.scss';

*{
    margin:0;
    border:0;
    padding: 0;
}



// Definicion de breakpoints - mapa

$breakpoints :(
    sm: 424px,
    md: 828px,
    lg: 1024px,
    xl: 1319px,
);

@mixin media-up($breakpoint){
    // validacion de mapa breakpoint
    @if map-has-key($breakpoints,$breakpoint){
        // Media Query
        @media screen and(min-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    } @else{
        @warn "El valor del breakpoint '#{$breakpoint}' no existe";
    }
    
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

.all_posts{
    @include media-up(sm){
        max-width: 98%;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "h2" "post1" "post2" "post3" "post4";
        .post__1,.post__2, .post__3, .post__4{
            grid-template-columns: repeat(1, auto);
            grid-template-rows: repeat(4, auto);
            grid-template-areas: "image"
                                "title"
                                "info_p"
                                "texto";
        }
    }
    @include media-up(md){
        max-width: 98%;
    }
    @include media-up(lg){
        max-width: 65%;
    }
    @include media-up(xl){
        max-width: 50%;
    }
}

.all_article{
    @include media-up(sm){
        max-width: 98%;
    }
    @include media-up(md){
        max-width: 98%;
    }
    @include media-up(lg){
        max-width: 65%;
    }
    @include media-up(xl){
        max-width: 50%;
    }
}


