@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.profile
{
    font-family: 'Lato', 'sans-serif';
    }
.profile 
{
/*    height: 321px;
    width: 265px;*/
margin-top: 2px;
padding:1px;
    display: inline-block;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 1px solid transparent;
    }

.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.profile strong,span,div{
    text-transform: initial;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 99999;
    transition: 1s;
  }
  .span{
    position: absolute;
    transform: translate(-50%, 50%);
    width: 120px; 
    height: 120px;
    top: 35%;
    border: 5px solid #262626;
    z-index: 1;
    animation: animar 2.5s linear infinite;
  }
  .span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    animation: animarbg 2.5s linear infinite;
  }
  
  @keyframes animar {
      0% {
          transform: translate(-50%, 50%) rotate(0deg);
      }
      25% {
          transform: translate(-50%, 50%) rotate(180deg);
      }
      50% {
          transform: translate(-50%, 50%) rotate(180deg);
      }
      75% {
          transform: translate(-50%, 50%) rotate(360deg);
      }
      100% {
          transform: translate(-50%, 50%) rotate(360deg);
      }
  }
  @keyframes animarbg {
      0% {
          height: 0;
      }
      25% {
          height: 0;
      }
      50% {
          height: 100%;
      }
      75% {
          height: 100%;
      }
      100% {
          height: 0;
      }
  }