.dropdown {
    position: relative;
    display: inline-block;
  }

  #dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    list-style-type: none;
    padding: 0;
  }

  #dropdown-list li {
    padding: 10px;
    cursor: pointer;
  }

  #dropdown-list li:hover {
    background-color: #e2e2e2;
  }

  #dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }