@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a{
    text-decoration: none;
    color: #fff;
}

body {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    background-color: #000;
}

header{
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-inline:0.4em;
    position: absolute;
}

.header-logo-nav {
    align-items:flex-end;
}

.header-logo-nav, .header-logo-nav nav{
    display: inline-flex;
    font-weight: 800;
}

.header-logo{
    font-size: 1.6em;
    padding-inline: 1.5em 4em;
}

.header-nav{
    font-size: 0.9em;
}

.header-nav div{
    display: contents;
}

.header-nav div a{
    padding-block: 4em 0.3em;
    padding-inline: 2em;
}

.header-nav div a:hover{
    background-color: #db341e;
}

.header-contact{
    padding-inline-start: 28em;
}

.header-contact, .header-contact div{
    display: inline-flex;
}

.header-contact div{
    font-size: 1.2em;
    align-items:flex-end;
}

.header-contact div i {
    transform: scale(1);
}

.header-contact div p{
    padding-inline: 0.6em;
}

main{
    border-top: inherit;
    border-right: inherit;
}

.home{
    background-image: linear-gradient(to right, #1f1c45 67%, #db341e 33%);
    padding-top: 10%;
    border-inline-start: 1.4em solid #fff;
    border-block-end: 1.4em solid #fff;
    /* padding-inline: 2em;   
    padding-block: 2em; */
}

.home-info{
    display: flex;
    align-items: center;
    justify-content:center;
}

.home-info img{
    height: 40em;
}

.home-info-text{
    width: 28em;
    margin-inline-end: 15em;
}

.home-info-text h1{
    font-weight: bolder;
    font-size: 7em;
    line-height: 1em;
}

.home-info-text p{
    padding: 1.4em 0;
}

.home-info img{
    filter: drop-shadow(0px 0px 41px #ffffff4b);
}

button{
    color: #fff;
    font-weight: bolder;
    font-size:1em;
    padding: 0.8em 2.3em
}

.home-info-text span{
    display: flex;
}

.btn-orange{
    background-color: #db341e;
    margin-inline: 0.2em;
}

.carrusel_btn{
    display: flex;
    flex-direction: column;
}

.carr_btn_1{
    margin-inline-start: 1em;
    margin-block-end: 2em;
}

.carr_btn_esp div{
    position: relative;
}

.carr_btn_esp button{
    background-color: #1f1c45;
    position: relative;
    top: 4em;
    right: 3em;
}

.carr_btn_esp button i{
    color: #fff !important;
}

.carrusel_btn button i{
    color: #000;
    transform: scale(1.5);
}

.carrusel_btn button{
    width: 4em;
    height: 4em;
    margin-block: 0.4em;
}

.about{
    background-color: #1f1c45;
    padding-block-end: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-inline-end: 1.4em solid #fff;
    border-block-end: 1.4em solid #fff;
}

.about img{
    width: 30em;
}

.about-info{
    width: 30em;
    padding-inline: 3em;
}

.about-info h2{
    font-size:3em;
    font-weight: bold;
    padding-block-end: 0.5em;
}

.about-info p{
    padding-block-end: 2em;
}

.service{
    background-color: #1f1c45;
    border-inline-start: 1.4em solid #fff;
    border-block-end: 1.4em solid #fff;
    padding: 2em 2em;
}

.service-info{
    text-align: center;
}

.service-info h2{
    font-weight: bold;
    font-size:3em;
}

.service-product{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 2em;
}

.product{
    text-align: center;
}

.product h3{
    font-weight: bold;
    font-size:1.2em;
}

.product p{
    font-size:0.8em
}

.product img{
    background-color: #fff;
    border-radius:0.5em;
    padding:2em;
    width: 23em;
}

._2 img{
    width: 30em;
    background-color: #db341e;
}

._2 h3{
    font-size:1.6em;
}

._2 p{
    font-size: 1em;
}

.btn-service{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-testimonial{
    background-color: #1f1c45;
    border-inline-end: 1.4em solid #fff;
    border-block-end: 1.4em solid #fff;
    padding: 2em 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form{
    width: 45%;
    padding-inline: 2em;
    border-inline-end: 0.1em solid #fff;
}

.form h4{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;

}

.form form{
    display:flex;
    flex-direction: column;
    margin-inline: 2em;
    align-items: center;
    /* justify-content: center; */
}

.form input {
    height: 4em;
    width: 100%;
    margin-block: 1em;
    padding: 1em 2em;
}

.form textarea {
    height: 4em;
    width: 100%;
    margin-block: 1em;
    padding: 1em 2em;
}

.btn-form{
    margin-block: 3em;
    text-align: center;
    width: 6em;
    padding: 1em 10em;
    border-radius: 70em;
}

.testimonial{
    width: 45%;
    
}

.testimonial-info{
    display: flex;
    align-items: center;
}

.testimonial-img{
    display: flex;
    justify-content: flex-end
}

.testimonial h4{
    font-size: 3em;
    font-weight: bold;
}

.mensaje{
    line-height: 36px;
}

.testimonial div .mensaje{
    background-color: #fff;
    color: #000;
    padding: 7em 2em;
    margin: 2em 1em ;
}

.mensaje-user{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-inline-start: 3em;
    height: 0em;
    font-style: italic;
    line-height: 1.4em;
}

.mensaje-user div{
    padding-inline-start: 2em;
}

.mensaje-user p{
    font-size:1.5em;
    font-weight: bold;
}

.mensaje-user span{
    color: #db3620;
    font-weight: bold;
    font-size: 0.9  em;
}

.mensaje-user img{
    box-shadow: -11px -15px 0px 0px #db3620;
}

.footer{    
    border-inline-start: 1.4em solid #fff;
    border-block-end: 1.4em solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1c45;
}

.footer .footer-title{
    font-weight: bold;
    font-size: 3em;
}

.footer figure{
    display: flex;
    justify-content: center;
}

.footer form{
    border-block-end: 0.1em solid #fff;
}

.footer form input[type="email"]{
    background-color: transparent;
    width: 60em;
}

.footer form button[type="submit"]{
    background-color: transparent;
    color: #db3620;
    font-size: 1.5em;
    padding: 0;
}

.footer-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}