
@media only screen and (min-width: 830px) {
    .header {
        &__navbar {
            .navbar-list {
                &__item a,
                &__item--active a {
                    font-size: 2.0rem;
                }
            }
        }

        &__presentation {
            padding: 55px 174px;
            &__title {
                max-width: none;
                font-size: 3.2rem;
            }
    
            &__content {
                font-size: 1.6rem;
                line-height: 3.0rem;
            }
        }
    }

    .footer {
        &__contact {
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, auto);
            padding: 30px 92px 50px;
    
            &__question {
                line-height: 4.6rem;
                @include footer-text(2.0, 0, 0.048, $fuente-primary, normal);
            }

            &__content {
                margin-bottom: 0;
            }
    
            &__btn {
                grid-column: 2 / 3;
                grid-row: 1 / 3;
                padding: 20px 35px;
                align-self: center;
                justify-self: center;
            }
        }

        &__about {
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(3, auto);
            padding: 22px 92px 20px;

            .about__list {
                &__item--title {
                    h4 {
                        margin-bottom: 0;
                    }
                }
            }

            .about__list:nth-child(3) {
                margin-bottom: 64px;
            }

            &__copyright {
                grid-column: 1 / 3;
                grid-row: 3 / 4;
            }
        }
    }
}



@media only screen and (min-width: 1320px) {
    .header {
        &__presentation {
            &__title {
                font-size: 4.4rem;
            }
    
            &__content {
                font-size: 2.0rem;
            }
        }
    }

    .footer {
        &__contact {
            padding: 91px 193px;

            &__content {
                max-width: none;
            }
    
            &__btn {
                padding: 20px 77px;
                align-self: center;
                justify-self: end;
            }
        }

        &__about {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            padding: 98px 193px 64px;

            .about__list {
                justify-self: end;

                &__item--title {
                    h4,
                    h5 {
                        margin-bottom: 30px;
                    }
                }
            }

            &__copyright {
                grid-column: 1 / 4;
                grid-row: 2 / 3;
            }
        }
    }
}