* {
  
    box-sizing: border-box;
    margin: 0;
}

#Contacto {
    text-align: center;
    color: #FF1B1B;
    font-family: arial;
    font-style: normal;
    font-weight: 700px;
    font-size: 36px;
    line-height: 41px;
}

body{
    background-color: #1687A0;          
}

form {
    width: 960px;
    margin: auto;
  
}

.input {
    width:49.5%;
    padding: 20px 10px;
    border:1px solid;
    display: inline;
}

.descripcion{
    width: 99.4%;
    padding: 20px 10px;
}

.boton{
    padding: 20px 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
