h1{
  text-align: center;
}
.periodic-table {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  width: 80px;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border: 4px solid #000000;
  background-color: #fff;
}
a {
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}
p {
  font-size: 15px;
  font-weight: normal;
  text-align: unset;
  text-transform: uppercase;
}

.element {
  position: relative;
}

.nometal {
  grid-row: 1;
  grid-column: 1;
  background-color: #3566ec;
}
.gasesn {
  grid-row: 1;
  grid-column: 19;
  background-color: #11e0c5;
}
.alcalico {
  grid-row: 2;
  grid-column: 1;
  background-color: #be473a;
}
.alcate {
  grid-row: 2;
  grid-column: 2;
  background-color: #e9b57a;
}
.metaloides {
  grid-row: 2;
  grid-column: 14;
  background-color: #33e723;
}
.halogenos{
    grid-row: 2;
    grid-column: 18;
    background-color: #d123d1bd;
}
.metales{
    grid-row: 2;
    grid-column: 19;
    background-color: rgb(255, 218, 9);
}
.mtransi{
    grid-row: 2;
    grid-column: 18;
    background-color: greenyellow;
}
.lantanidos{
    grid-row: 1;
  grid-column: 1;
  background-color: #99b1f3;

}
.actinidos{
  grid-row: 1;
  grid-column: 1;
  background-color: #3f7222be
}
.Boro{
  font-size: 100px;
  background-color: #33e723;
}
.giga{
  font-size: 45px;
}


.vacio {
  border: 1px #000000;
}
div{
  font-size: 30px;
  font-weight: normal;
}


/* Continúa con el resto de los elementos */
