html{
    box-sizing: border-box;
}
body {
    padding-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.parent {
    display: grid;
    grid-template: repeat(10, minmax(60px, 1fr)) / repeat(18, minmax(60px, 1fr));
    grid-template-areas:
        "element  element  element  element  element  element  element  element  element  element element  element  element  element  element  element  element  element"

        "element  element  element  element  element  element  element  element  element  element element  element  element  element  element  element  element  element"

        "element  element  element  element  element  element  element  element  element  element element  element  element  element  element  element  element  element"

        "element  element  element  element  element  element  element  element  element  element element  element  element  element  element  element  element  element"
        "element  element  element  element  element  element  element  element  element  element element  element  element  element  element  element  element  element"
        "element  element  element  element  element  element  element  element  element  element element  element  element  element  element  element  element  element"
        "element  element  element  element  element  element  element  element  element  element element  element  element  element  element  element  element  element"
        "boro___  boro___  boro___  elemenb  elemenb  elemenb  elemenb  elemenb  elemenb  elemenb elemenb  elemenb  elemenb  elemenb  elemenb  elemenb  elemenb  elemenb"
        "boro___  boro___  boro___  elemenb  elemenb  elemenb  elemenb  elemenb  elemenb  elemenb elemenb  elemenb  elemenb  elemenb  elemenb  elemenb  elemenb  elemenb"
        "boro___  boro___  boro___  types__  types__  types__  types__  types__  types__  types__ types__  types__  types__  types__  types__  types__  types__  types__"
    ;
}

.element {
    grid-area: element;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(18, 1fr);
}

.elemenb {
    grid-area: elemenb;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(15, 1fr);
    
}

.boro___ {
    grid-area: boro___;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
}

.boro___ .boro-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 24px;
    border: unset;
}

.boro___ .boro-top .align_left{
    text-align: right;
}

.boro___ .boro-text-center {
    font-size: 64px;
    font-weight: 600;
    display: grid;
    align-items: center;
    text-align: center;
    border: unset;
}

.boro___ .boro-footer {
    font-size: 24px;
    display: grid;
    align-items: center;
    text-align: center;
    border: unset;
}

.types__ {
    grid-area: types__;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.mark-div-red {
    border: 2px solid rgb(246, 242, 242);
    /* Red border */
}

.mark-div-blue {
    border: 2px solid rgb(242, 242, 245);
    /* Red border */
}

.space {
    border: unset;
    background-color: white;
}

.no-metal {
    border:  2px solid rgb(242, 242, 245);
    background-color: #317bf5;
}

.nobel-gases {
    border:  2px solid rgb(242, 242, 245);
    background-color: #0ce9d5;
}

.alcaline-metal {
    border: 2px solid rgb(242, 242, 245);
    background-color: #f54439;
}

.land-alcaline {
    border:  2px solid rgb(242, 242, 245);
    background-color: #f99a46;
}

.metalloid {
    border:  2px solid rgb(242, 242, 245);
    background-color: #53f71f;
}

.metal {
    border:  2px solid rgb(242, 242, 245);
    background-color: #fcf911;
}

.transition-metal {
    border:  2px solid rgb(242, 242, 245);
    background-color: #b2f946;
}

.lanthanides {
    border:  2px solid rgb(242, 242, 245);
    background-color: #6fbfc7;
}

.halogens {
    border:  2px solid rgb(242, 242, 245);
    background-color: #d221e7;
}

.actinins {
    border:  2px solid rgb(242, 242, 245);
    background-color: #6a8f74;
}

.center-text {
    display: grid;
    align-content: center;
    text-align: center;
}

.cell{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    border: unset;
    
}

.cell .cell-top{
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: unset;
}

.cell .cell-center{
    font-size: 24px;
    font-weight: 800;
    display: grid;
    align-items: center;
    text-align: center;
    border: unset;
}

.cell .cell-footer{
    font-size: 16px;
    text-align: center;
    border: unset;
}

div{
    text-align: center;
}
.atomico{
    font-size: 15px;
    line-height: 0px;
}
.simbolo{
    font-size: 25px;
    line-height: 0px;
}
.nombre{
    font-size: 13px;
    line-height: 0px;
}
.peso{
    font-size: 10px;
    line-height: 0px;
}

h1{
    text-align:center;
   
    color: cornflowerblue;
    font-size: 5em;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

