@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    /*Font Family*/
    --mainFontFamily: 'Poppins', sans-serif;

    /*Colors*/
    --white: white;
    --black: black;
    --orange: #DB341E;
    --blue: #1F1D47;
    --gray: #626262;
    --gray2: #686784;
    /*Content*/

    --contentGap: 100px;

    /*Header*/
    --headerSize: 75px;
    --firstSpace: 75px;

    /*Font Weights*/
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: var(--mainFontFamily);
    color: var(--white);
    font-size: 17px;
    line-height: 1.47;
}

.btn{
    background-color: var(--orange);
    display: inline-block;
    padding: 19.5px 55px;
    text-transform: uppercase;
    font-weight: var(--bold);
    transition: opacity ease 0.25s;
    color: var(--white);
    text-decoration: none;
}

.btn:hover{
    opacity: 0.8;
}

.button-wrapper{
    margin-top: 40px;
}

h1, h2, h3, h5{
    text-transform: uppercase;
    font-weight: var(--bold);
    line-height: 1.1;
}

h2{
    font-size: 121px;
}

h3{
    font-size: 50px;
}

h4{
    font-size: 30px;
}

h5{
    font-size: 20px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 12;
    padding-bottom: 5px;
}

header:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #1f1c45 67%, #db341e 33%);
    opacity: 0;
    transition: opacity ease 0.25s;

}

ul{
    list-style: none;
}

header .header-inner{
    display: flex;
    max-width: 1920px;
    width: 100%;
    padding: 0 50px;
    height: var(--headerSize);
    align-items: flex-end;
    transition: height ease 0.25s;
    position: relative;
}

header .header-inner .header-logo{
    width: 80px;
    padding: 0 15px;
}

header .header-inner .header-menu{
    width: calc(100% - 110px);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 100%;
    align-items: flex-end;
}

header .header-inner .header-menu .header-menu-left,
header .header-inner .header-menu .header-menu-left ul,
header .header-inner .header-menu .header-menu-left ul li,
header .header-inner .header-menu .header-menu-left ul li a,
header .header-inner .header-menu .header-info,
header .header-inner .header-menu .header-info ul,
header .header-inner .header-menu .header-info ul li{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

header .header-inner .header-logo .logo{
    color: var(--white);
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: var(--bold);
}

header .header-inner .header-menu ul{
    display: flex;
}

header .header-inner .header-menu ul li{
    
}

header .header-inner .header-menu .header-menu-left ul li a{
    padding: 50px 23px 10px 23px;
    color: var(--white);
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: background-color ease 0.25s;
}

header .header-inner .header-menu ul li a:hover,
header .header-inner .header-menu ul li.is-active a{
    background-color: var(--orange);
}

header .header-inner .header-menu .header-info .menu-item-inner{
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

header .header-inner .header-menu .header-info .menu-item-inner i{
    margin-right: 10px;
}

.is-first-section{
    padding-top: var(--firstSpace);
}

section,
footer{
    background-color: var(--blue);   
}

.has-blue-orange-gradient{
    background: linear-gradient(to right, #1f1c45 67%, #db341e 33%);
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.content{
    padding-top: var(--contentGap);
    padding-bottom: calc( var(--contentGap) + 50px );
}

.slider-wrapper .slider-item{
    width: 100%;
    min-height: 788px;
}

.slider-wrapper .slider-item .sider-item-inner {
    display: flex;
    color: var(--white);
    padding: 40px;
    justify-content: center;
}
.slider-wrapper .slider-item .sider-item-inner .slider-item-content .item-content-wrapper{
    max-width: 450px;
}

.slider .flickity-button{
    left: 0;
    transform: none;
    bottom: 0;
    top: auto;
    width: 89px;
    height: 89px;
    opacity: 1;
    background: var(--white);
    border-radius: 0;
}

.slider .flickity-button.previous{
    bottom: 110px;
}

.slider .flickity-button svg{
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.borer-left-bottom,
.border-right-bottom{
    position: relative;
}

.borer-left-bottom:before,
.borer-left-bottom:after{
    content: "";
    position: absolute;
    left: 0;
    background-color: var(--white);
    bottom: 0;
}

.borer-left-bottom:before{
    width: 50px;
    height: 100%;
    top: 0;
    bottom: 0;
}

.borer-left-bottom:after{
    bottom: 0;
    width: 100%;
    height: 50px;
}

.border-right-bottom:before,
.border-right-bottom:after{
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--white);
    bottom: 0;
}

.border-right-bottom:before{
    width: 50px;
    height: 100%;
    top: 0;
}

.border-right-bottom:after{
    width: 100%;
    height: 50px;
}

.has-no-pt .content{
    padding-top: 0;
}

.content-wrapper-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content-wrapper-row .content-column{
    width: 50%;
}

.content-wrapper-row .content-column:first-child .content-column-inner{
    text-align: right;
}

.content-wrapper-row .content-column:last-child .content-column-inner{
    padding: 50px;
    max-width: 600px;
}

.content-wrapper-row .content-column:last-child .content-column-inner h3{
    margin-bottom: 40px;
}

.content-wrapper-row .content-column:last-child .content-column-inner p{
    margin-bottom: 40px;
}

.slider-wrapper-coffee .slider-item{
    width: 33.33%;
    padding: 0.75rem;
    min-height: 615px;
}

.slider-wrapper-coffee .slider-item .sider-item-inner{
    transform: scale(0.8);
    transition: transform ease 0.25s;
}

.slider-wrapper-coffee .slider-item.is-selected .sider-item-inner{
    transform: scale(1);
}

.slider-wrapper-coffee .slider-item .sider-item-inner .slider-item-media{
    width: 100%;
    position: relative;
    padding: 50px 20px;
    margin-bottom: 30px;
}

.slider-wrapper-coffee .slider-item.is-selected .sider-item-inner .slider-item-media{
    margin-bottom: 50px;
}

.slider-wrapper-coffee .slider-item .sider-item-inner .slider-item-media:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    border-radius: 10px;
    transition: background-color ease 0.25s, height ease 0.25s, bottom ease 0.25s;
}

.slider-wrapper-coffee .slider-item.is-selected .sider-item-inner .slider-item-media:before{
    background-color: var(--orange);
}

.slider-wrapper-coffee .slider-item .sider-item-inner .slider-item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-wrapper-coffee .slider-item .sider-item-inner .slider-item-media .item-media-inner{
    aspect-ratio: 326 / 326;
    position: relative;
    max-width: 326px;
    width: 100%;
    margin: 0 auto;
}

.slider-wrapper-coffee .slider-item .sider-item-inner .slider-item-media .item-media-inner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.slider-wrapper-coffee .item-content-wrapper{
    text-align: center;
    margin: 0 auto;
    max-width: 390px;
}

.slider-wrapper-coffee .item-content-wrapper h4{
    margin-bottom: 20px;
}

.slider-wrapper-coffee .flickity-button.previous{
    bottom: -110px;
}

.slider-wrapper-coffee .flickity-button{
    bottom: -10px;
}

.button-wrapper{
    text-align: center;
}

.contact-testimonial-wrapper{
    display: flex;
}

.contact-wrapper,
.testimonail-wrapper{
    width: 47%;
}

.contact-wrapper .title-wrapper,
.testimonail-wrapper .title-wrapper{
    margin-bottom: 40px;
}
.contact-wrapper .title-wrapper{
    text-align: center;
}

.placeholder-column{
    width: 6%;
    position: relative;
}
.placeholder-column::before{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
}

.contact-wrapper form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-wrapper form input[type=text],
.contact-wrapper form input[type=email],
.contact-wrapper form textarea{
    width: 100%;
    padding: 30px 30px;
    margin-bottom: 33px;
    width: 100%;
    background: var(--white);
    color: var(--gray);
    font-size: 17px;
    font-weight: normal;
    border: inherit;
    font-family: var(--mainFontFamily);
    font-weight: var(--semibold);
}

.contact-wrapper input[type=submit]{
    border: 0;
    font-family: var(--mainFontFamily);
    border-radius: 60px;
    font-size: 17px;
    padding: 27px 96px;
    transition: color ease 0.25s, background-color ease 0.25s;
    cursor: pointer;
}

.contact-wrapper input[type=submit]:hover{
    opacity: 1;
    background-color: var(--white);
    color: var(--orange);
}

.testimonial-slider .slider-item{
    width: 100%;
}

.testimonail-wrapper{
    padding-right: 30px;
}

.testimonial-slider .slider-item .slider-item-inner{
    position: relative;
    padding: 0 40px;
    z-index: 2;
}

.testimonial-slider .slider-item .slider-item-inner p{
    color: #060505;
    line-height: 2.1;
}

.testimonial-slider .slider-item .slider-item-inner .slider-content-content{
    position: relative;
    padding: 80px 70px 80px 0;
}

.testimonial-slider .slider-item .slider-item-inner .slider-content-content::before{
    content: "";
    width: calc(100% + 80px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    z-index: -1;
}

.testimonial-slider .slider-item .slider-item-inner .slider-meta{
    display: flex;
    align-items: center;
    margin-top: -35px;
}

.testimonial-slider .slider-item .slider-item-inner .slider-meta .slider-thumb{
    max-width: 150px;
    width: 100%;
    position: relative;
    padding-top: 15px;
    margin-right: 15px;
}

.testimonial-slider .slider-item .slider-item-inner .slider-meta .slider-thumb:before{
    content: "";
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--orange);
}

.testimonial-slider .slider-item .slider-item-inner .slider-meta .slider-thumb .slider-thumb-inner{
    aspect-ratio: 131 / 131;
    max-width: 131px;
    position: relative;
    margin: auto 0 0 auto;
}

.testimonial-slider .slider-item .slider-item-inner .slider-meta .slider-thumb .slider-thumb-inner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.slider-title-wrapper{
    margin-top: 10px;
}

.slider-title-wrapper .slider-title{
    font-style: italic;
}

.slider-title-wrapper .slider-sub-title{
    color: var(--orange);
    font-weight: var(--bold);
    font-size: 14px;
    font-style: italic;
    line-height: 1.4;
}

.testimonial-slider .flickity-button{
    right: 0;
    left: auto;
    top: calc(50% - 150px);
    transform: translateY(-50%);
    bottom: auto;
    background-color: var(--blue);
    color: var(--white);
}

.testimonial-slider .flickity-button.next{
    top: calc(50% - 50px);
}

.testimonail-wrapper .column-inner{
    position: relative;
    padding-bottom: 180px;
}

.testimonail-wrapper .column-inner::before{
    content: "";
    width: 270px;
    height: 169px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../img/coff.png');
}

footer{
    position: relative;
    width: 100%;
}

footer .content{
    position: relative;
    padding-top: 200px;
    padding-bottom: 70px;
}

footer .content:after{
    content: "";
    width: 344px;
    height: 157px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../img/footer_be.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.footer-logo a{
    text-align: center;
    color: var(--white);
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    display: block;
    margin-bottom: 60px;
    text-decoration: none;
}

.subscribe-section{
    width: 100%;
    margin-bottom: 50px;
}
.subscribe-section form{
    position: relative;
}
.subscribe-section form input[type=text]{
    font-family: var(--mainFontFamily);
    background-color: transparent;
    border: 0;
    color: #000;
    width: 100%;
    border-bottom: 1px solid var(--white);
    padding-right: 143px;
    color: var(--white);
    font-size: 14px;
    font-weight: var(--bold);
    padding-bottom: 15px;
    outline: none;
}

.subscribe-section form input[type=text]::placeholder{
    color: var(--gray);
}

.subscribe-section form input[type=submit]{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    color: var(--orange);
    font-family: var(--mainFontFamily);
    font-size: 25px;
    font-weight: var(--bold);
    z-index: 1;
    cursor: pointer;
    transition: color ease 0.50s;
}

.subscribe-section form input[type=submit]:hover{
    color: var(--white);
}

.footer-menu-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.footer-menu li:not(:last-child){
    margin-bottom: 5px;
}

.footer-menu li a{
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
    transition: color ease 0.5s;
}

.footer-menu li a:hover{
    color: var(--orange);
}

.menu-box-item-inner h4{
    margin-bottom: 15px;
}

.social-share-box{
    display: flex;
}

.social-share-box li{
    margin: 0 10px;
}
.social-share-box li:first-child{
    margin-left: 0;
}

.social-share-box li:last-child{
    margin-right: 0;
}

.social-share-box li a{
    color: var(--white);
    font-size: 30px;
    transition: color ease 0.5s;
}
.social-share-box li a:hover{
    color: var(--orange);
}

.info:first-child{
    margin-top: 40px;
}
.info:not(:last-child){
    margin-bottom: 30px;
}

.info a,
.info span{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}
.info i{
    font-size: 25px;
    margin-right: 10px;
}

.footer-socket{
    margin-top: 90px;
    color: var(--gray2);
    font-size: 18px;
}
footer{
    border-bottom: 50px solid white;
}
footer::after{
    width: 177px!important;
    height: 154px!important;
    bottom: 0!important;
    right: 0!important;
    left: auto!important;
    background-color: transparent!important;
    background-image: url(../img/footer_af.png);
}

html.header-is-scrolled header:before {
    opacity: 1;
}

html.header-is-scrolled header .header-inner {
    --headerSize: 50px;
}

