body{
    background-color: bisque;
}
.nav-rigth{
    position: absolute;
width: 366px;
height: 28px;
left: 917px;
top: 51px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

letter-spacing: 0.04em;

color: #1F3F68;

    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-right: 2rem;

}
.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1366px;
    height: 250px;
    left: 0px;
    top: 130px;
   background-image: url(./imagenes/titulo.jpeg);
}
.nav-menu{
    list-style: none;
    position: absolute;
width: 366px;
height: 28px;
left: 917px;
top: 51px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

letter-spacing: 0.04em;

color: #1F3F68;

}
.descrip{
    position: absolute;
width: 780px;
height: 60px;
left: 293px;
top: 270px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

text-align: center;
letter-spacing: 0.04em;

color: rgba(255, 255, 255, 0.78);

}
.input{
    position: absolute;
width: 940px;
height: 56px;
left: 213px;
top: 436px;

background: #F4F4F4;
border-radius: 10px;
}
.sub-titulo{
    position: absolute;
width: 103px;
height: 23px;
left: 214px;
top: 548px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */

letter-spacing: 0.04em;

/* blue_03 */

color: #356EAD;

opacity: 0.8;
}
.encabezado1{
    position: absolute;
width: 380px;
height: 92px;
left: 213px;
top: 605px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* or 128% */

letter-spacing: 0.04em;

/* Blue_01 */

color: #1F3F68;

}
.descrip-1{
    position: absolute;
width: 380px;
height: 201px;
left: 213px;
top: 714px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

letter-spacing: 0.04em;

color: #000000;

opacity: 0.6;
}