html{
    font-family: 'Arial';
}
.imagen{
    height: 525px;
    background-image: url("./../img/fondo.png");
    background-position: center;
    background-size: cover;
}

.titulo{
    font-size: 64px;
    color: #FFFFFF;
   
   text-align: center;
}

.text{
    font-size: 36px;
line-height: 42px;
font-weight: 700;
    color: #FFFFFF;

}

.cuadrado{
    position: absolute;
    width: 361px;
    height: 97px;
    left: 94px;
    top: 278px;
    padding: 10px;
    
background-color: rgba(114, 153, 254, 0.5);
border-radius: 10px;;

}

.rectangle{
    
height: 424px;
background: #7299FE;
}

.subtitulo{
    font-weight: 700;
font-size: 36px;
line-height: 41px;
text-align: center;
color: #1D06A7;
}

.historia{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #F8F8F8;
padding: 30px;
}

.cv{
    width: 187px;
    height: 62px;
    margin-left: 30px;
    background: #D16FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0px;
   
font-size: 22px;
color: #FFFFFF;

}


.rectan{
    background: #9122FF;

}


.subtitulo3{
    ont-weight: 700;
    font-size: 36px;
    line-height: 41px;
    text-align: center;

color: #26CC4B;
}

.texto1{
    font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;

}

.rectangle1{
    width: 403px;
height: 20px;
left: 65px;
top: 1090px;

background: #FFFFFF;
border-radius: 10px;
}


.texto2{
    font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;

}

.rectangle2{
    width: 403px;
height: 20px;
left: 65px;
top: 1090px;

background: #FFFFFF;
border-radius: 10px;
}

.texto3{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.rectangle3{
    width: 403px;
height: 20px;
left: 65px;
top: 1090px;

background: #FFFFFF;
border-radius: 10px;
}

.texto4{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.rectangle4{
    width: 403px;
height: 20px;
left: 65px;
top: 1090px;

background: #FFFFFF;
border-radius: 10px;
}

.texto5{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.rectangle5{
    width: 403px;
height: 20px;
left: 65px;
top: 1090px;

background: #FFFFFF;
border-radius: 10px;
}

.texto6{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.rectangle6{
    width: 403px;
height: 20px;
left: 65px;
top: 1090px;

background: #FFFFFF;
border-radius: 10px;
}