body {
  margin: 0;
}
.titulo-1 {
  color: aliceblue;
  position: absolute;
  width: 232px;
  height: 74px;
  left: 1080px;
  top: 40px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 700px;
  font-size: 64px;
  line-height: 74px;
}
.man {
  background-image: url("img/imagen1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding: 500px 00px;
}
.banner {
  font-family: Arial;
  font-size: 39px;
  color: aliceblue;
  border: solid 1px black;
  border-radius: 20px;
  background-color: #729afe6e;
  padding: 1em;
  position: absolute;
  width: 381px;
  height: 100px;
  left: 320px;
  top: 460px;
}

.section-2 {
  padding: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-color: #7299fe;
}
.titulo-2 {
  font-family: Arial;
  font-size: 60px;
  position: absolute;
  width: 300px;
  height: 200px;
  left: 1080px;
  top: 1000px;
  color: #1d06a7;
}
.parrafo-1 {
  font-family: Arial;
  font-size: 20px;
  color: #f7f7f7;
  line-height: 24px;
  text-align: left;
}
.VerCV {
  position: absolute;
  width: 187px;
  height: 62px;
  top: 1400px;
  left: 200px;
  background-color: #d16fff;
  color: white;
  border-radius: 20px;
  font-family: arial bold;
  font-size: x-large;
  line-height: normal;
}
.section-3 {
  padding: 400px;
  background-color: #9022ff;
  background-attachment: scroll;
}
.titulo-3 {
  color: #26cc4b;
  font-family: Arial;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  font-size: 60px;
  position: absolute;
  width: 300px;
  height: 100px;
  left: 1080px;
  top: 1600px;
}
#file {
  border-radius: 0px;
}
label {
  font-size: 30px;
  color: white;
}
progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 30px;
  width: 700px;
  height: 25px;
}
progress[value]::-webkit-progress-value {
  background: #57eff9;
  border-radius: 30px;
}
.html{
  position: absolute;
  width: 300px;
  height: 100px;
  left: 500px;
  top: 1800px;
}
.js{
  position: absolute;
  width: 300px;
  height: 100px;
  left: 500px;
  top: 1950px;
}
.flexbox{
  position: absolute;
  width: 300px;
  height: 100px;
  left: 500px;
  top: 2100px;
}
.css{
  position: absolute;
  width: 300px;
  height: 100px;
  left: 1300px;
  top: 1800px;
}
.vue{
  position: absolute;
  width: 300px;
  height: 100px;
  left: 1300px;
  top: 1950px;
}
.css-grid{
  position: absolute;
  width: 300px;
  height: 100px;
  left: 1300px;
  top: 2100px;
}
.section-4{
  padding: 500px;
  background-color: #1687A0;

}
.titulo-4{
  color: red;
  position: absolute;
  font-size: 64px;
  width: 300px;
  height: 100px;
  left: 1080px;
  top: 2400px;
}
#nombre{
position: absolute;
width: 700px;
height: 80px;
left: 450px;
top: 2600px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}
#apellido{
position: absolute;
width: 700px;
height: 80px;
left: 1300px;
top: 2600px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}
#email{
position: absolute;
width: 700px;
height: 80px;
left: 450px;
top: 2750px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}
#tel{
position: absolute;
width: 700px;
height: 80px;
left: 1300px;
top: 2750px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}
#descrip{
position: absolute;
width: 1550px;
height: 200px;
left: 450px;
top: 2900px;
background: #FFFFFF;
border: 1px solid #BFBFBF;
}

#submit{
position: absolute;
width: 150px;
height: 50px;
left: 450px;
top: 3200px;
background: #FFFFFF;
border: 1px solid #c52a2a;
}
input::placeholder{
  text-align: start;
  font-size: 30px;
  }
input[value] {
  font-size: 30px;
}  