* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  section {
    
    background-image:linear-gradient(to right, #1f1c45 67%, #db341e 33%);
    color: white;
  }
  .cont_header {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
  }
  nav {
    background: transparent;
    height: 20px;
    width: 100%;
  }
  nav ul {
    float: left;
    margin-left: 70px;
  }
  
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a {
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
.contenedor_background {
  display: flex;
}
.titulo {
  flex: 80%;
  margin: 80px 80px 80px 300px;
}

.titulo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  margin: 0;
}

.titulo h4 {
  font-family: "Poppins", sans-serif;
}