*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 1;
  }
  
  .dropdown-menu li {
    list-style-type: none;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #ddd;
  }