* {
   
    background-color: rgb(255, 255, 255);
  
  }
  
.titulo
{
table-layout: fixed;

margin-left: 150px;

}

.table
{
border-spacing: 0cm;
float: center;
position: relative;


}

.tablaprueba
{
table-layout: fixed;
border-spacing: 0cm;
border-style: solid;
border-color: black;
border-width: 2px;
width: 1250PX;


}



.table2 {

  width: 55.9%;
  table-layout: fixed;
  font-weight: bold;
  margin-left: 4.8%;
  border-spacing: 0cm;
}

.table3 {
  table-layout: fixed;
  margin-top: -6.05%; 
  margin-left:0px;
  width: 9.95%;
  height: 140px;
  border-spacing: 0cm;
  font-size: 25px;
}

.nometales
{
  background-color: rgb(49, 123, 245);
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;

}

.metales 
{
  background-color: rgb(252, 249, 17);
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;

}

.metaltran
{
background-color: rgb(178, 249, 70);
text-align: center;
border-style: solid;
  border-color: black;
  border-width: 2px;

}

.metalalca
{
background-color: rgb(245, 68, 57);
text-align: center; 
border-style: solid;
  border-color: black;
  border-width: 2px;

}

.alcaterr
{
  background-color: rgb(249, 154, 70);
  text-align: center; 
  border-style: solid;
  border-color: black;
  border-width: 2px;

}

.metaloides
{
  background-color: rgb(83, 247, 31);
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
   
}

.halogenos
{
  background-color: rgb(210, 33, 231);
  text-align: center;   
  border-style: solid;
  border-color: black;
  border-width: 2px;

}

.gasesnobles
{
  background-color: rgb(12, 233, 213);
  text-align: center;   
  border-style: solid;
  border-color: black;
  border-width: 2px;

}

.lantanidos
{
  background-color: rgb(111, 191, 199);
  text-align: center; 
  border-style: solid;
  border-color: black;
  border-width: 2px;

}

.actinidos
{
  background-color: rgb(106, 143, 116);
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;

}

