.hex {
    background-color: #86DEFA;
  }
  
  .rgb {
    background-color: rgb(134, 222, 250);
  
  }
  
  .hsl {
   background-color: hsl(194, 92%, 75%)
   
  }
  
  .transparency {
    background-color: rgba(134,222,250, 0.6);
  
  }


  h1 {
    font-size: 50px;
 }
 
 h2 {
    font-size: 2em;
 }
 
 p {
    font-size: 16;
 }
 
 h1+p {
     
     font-size: 120%;
 }

 .box {
  background-image: url(estrella.png);
  background-repeat: no-repeat;
  height: 300px;
  width: 400px;
  background-position: right 40px;
 
  

  
}