.footer {
    &__contact {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);
        padding: 30px 92px 50px;

        &__question {
            line-height: 4.6rem;
            @include footer-text(2.0, 0, 0.048, $fuente-primary, normal);
        }

        &__content {
            margin-bottom: 0;
        }

        &__btn {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            padding: 20px 35px;
            align-self: center;
            justify-self: center;
        }
    }

    &__about {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, auto);
        padding: 22px 92px 20px;

        .about__list {
            &__item--title {
                h4 {
                    margin-bottom: 0;
                }
            }
        }

        .about__list:nth-child(3) {
            margin-bottom: 64px;
        }

        &__copyright {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
    }
}