$background: #316099;
$font-family: 'Arial';
$dispay: grid;
$color: #FFFFFF;

* {
    margin: 0;

}

.contenedor {
    display: $dispay;
    background: $background;


}

.footer-top {
    color: $color;
    display: $dispay;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "header"
        "contenido"
        "boton";

    &__titulo {

        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        grid-column-start: header;
        grid-column-end: header;
        padding-top: 80px;
        
    }

    &__extracto {
        color: $color;
        font-size: 1rem;
        line-height: 26px;
        grid-column-start: header;
        grid-column-end: contenido;
        padding-top: 30px;
        opacity: 0.6;
    }



    .boton {

        color: $color;
        background: #5A98D0;
        text-align: center;
        width: 72px;
        height: 26px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
        justify-self: flex-end;
        padding: 15px 70px;
    }
}

.footer-end {
    display: $dispay;
    grid-template-columns: 2fr 1fr 1fr;
    color: $color;
    width: 80%;
    margin: auto;

    
    &__1linea {
        padding-top: 80px;
        
        & img{
            margin-bottom: 40px;
        }
       
    }

    &__direccion {
       padding-bottom: 20px;
        font-size: 1rem;
    }

    &__about-us {
        padding-top: 80px;
        font-size: 1.5rem;
        margin-bottom: 15px;

    }
    &__descripción{
       padding-bottom: 20px;
        font-size: 1rem;
    }
    &__follow-us{
        padding-top: 80px;
        font-size: 1.6rem;
        margin-bottom: 15px;
    }

    &__correo{
        font-size: 1rem;
        padding-bottom: 20px;
        
    }
    &__final{
        opacity: 0.4;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.footer-end__grid2{
    display: $dispay;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, 1fr);
    
    
}

