
/* ------------------- HEADER ------------------- */
.header {
    background-image: url('../imgs/profile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header .header__title {
    color: #fff;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.4rem;
    margin-top: 60px;
    align-self: center;
}

.header .header__description {
    background: #7299fe80;
    color: #fff;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.2rem;
    max-width: 366px;
    border-radius: 10px;
    padding: 10px;
    margin: 150px 0 0 85px;
}
/* ------------------- /HEADER ------------------- */


/* ----------------- ENCABEZADOS ----------------- */
.encabezados {
    width: 100%;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.1rem;
}

.main__profile .encabezados {
    color: #1d06a7;
    margin-bottom: 30px;
}
.main__skills .encabezados {
    color: #26cc4b;
    padding-bottom: 30px;
}
.main__portfolio .encabezados {
    color: #00ad84;
    padding-bottom: 40px;
}
.main__client .encabezados {
    color: #adff28;
    margin-bottom: 40px;
}
.main__contact .encabezados {
    color: #ff1b1b;
    margin-bottom: 35px;
}
/* ----------------- /ENCABEZADOS ----------------- */


/* --------------- PROFILE SECTION --------------- */
.main__profile {
    background-color: #7299FE;
    width: 100%;
    padding: 30px 45px 90px;
}

.main__profile p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-bottom: 40px;
}

.main__profile a {
    background-color: #d16fff;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.5rem;
    border-radius: 20px;
    padding: 18px 58px;
    box-shadow: 0px 4px 4px #00000040;
}

.main__profile a:hover {
    box-shadow: 0px 4px 4px #555;
}
/* --------------- /PROFILE SECTION --------------- */


/* ---------------- SKILLS SECTION----------------- */
.main__skills {
    background-color: #9022ff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 45px 50px;
}

.main__skills--left,
.main__skills--right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

.main__skills--left label,
.main__skills--right label {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.1rem;
    margin-bottom: 20px;
}

.main__skills--left progress,
.main__skills--right progress {
    width: 100%;
    height: 20px;
    margin-bottom: 40px;
}

.main__skills--left progress::-webkit-progress-value,
.main__skills--right progress::-webkit-progress-value {
    background-color: #57EFF9;
    border-radius: 10px;
}

.main__skills--left progress::-webkit-progress-bar,
.main__skills--right progress::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 10px;
}
/* ---------------- /SKILLS SECTION----------------- */


/* -------------- PORTAFOLIO SECTION -------------- */
.main__portfolio {
    background-color: #ffd233;
    width: 100%;
    padding: 40px 45px 90px;
}

.main__portfolio .portfolio__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 620px;
    margin: 0 auto;
    gap: 20px;
}

.main__portfolio .portfolio__list .portfolio__list--item img {
    width: 140px;
}

.main__portfolio .portfolio__list .portfolio__list--item img:hover {
    box-shadow: 0 0 8px 0 #000;
}
/* -------------- /PORTAFOLIO SECTION -------------- */


/* ---------------- CLIENTS SECTION ---------------- */
.main__client {
    background-color: #3f4e62;
    width: 100%;
    padding: 40px 45px 90px;
}

.main__client .client__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main__client .client__list .client__list--item img:hover {
    box-shadow: 0 0 8px 0 #fff;
}
/* ---------------- CLIENTS SECTION ---------------- */


/* ---------------- CONTACT SECTION ---------------- */
.main__contact {
    background-color: #1687a0;
    padding: 35px 45px 90px;
}

.main__contact form {
    max-width: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main__contact form input {
    color: #7A7A7A;
    padding: 21px 10px;
    border: 1px solid #BFBFBF;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.main__contact form textarea {
    color: #7A7A7A;
    width: 100%;
    padding: 21px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    border: 1px solid #BFBFBF;
    margin-bottom: 30px;
}

.main__contact form input:hover,
.main__contact form textarea:hover {
    box-shadow: 0 0 8px 0.8px #272727;
}

.main__contact form input:focus,
.main__contact form textarea:focus {
    border: 2px solid #ff1b1b;
}

.main__contact form input:valid,
.main__contact form textarea:valid {
    border: 2px solid greenyellow;
}

.form-group {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.form-group input {
    width: 50%;
}

.main__contact form #btnEnviar {
    background-color: #233451;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.1rem;
    padding: 17px 49px;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
}

.main__contact form #btnEnviar:hover {
    box-shadow: 0 0 8px 0 #fff;
}
/* ---------------- /CONTACT SECTION ---------------- */
