* {
    /*elimina cualquier margen y relleno predeterminado*/
        margin: 0;
        padding: 0;
    }

$color-logo: #316099;
$color-titulo-1: #356EAD;
$color-titulo-2: #1F3F68;
$color-cuerpo: rgba(0, 0, 0, 0.6);
$color-autor: rgba(0, 0, 0, 0.4);

$font-1: Arial;
$font-2: Helvetica;


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .popular-1 {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 0 20px;
        grid-template-areas:
            "pop1-main-title  pop1-main-title pop1-main-title"
            "pop1-img          pop1-img           pop1-img"
             "pop1-title      pop1-title       pop1-title"
              "pop1-content   pop1-content     pop1-content"
              "pop1-author      save-icon      share-icon"
                "pop1-date     save-icon        share-icon";    
    }

    .pop-flexbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5rem;   
    }

    .all-grid {
        display: grid;
        grid-template-columns: 7fr 5vh 5vh;
        grid-template-rows: auto; 
        grid-template-areas:

        "all1      all1        all1"
        "all2      all2       all2 "
         "all3       all3       all3"
         "all4      all6      all7"
           "all5      all6        all7";

           grid-gap: 10px;
    }

    .interested-flex {
        display: flex;
        flex-direction: column;
        background-color: $color-logo;
        padding: 20vh;
        gap: 50px;    
        justify-items: center;
        align-items: center;
    }

    .footer-flex-main {
        display: grid;
        grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 30px;
            grid-template-areas:
     
                 "afri"
                 "abt"
                 "fllw";
    
        //align-items: center;
        //justify-items: center;
        text-align: left;
        background-color:$color-logo;
        padding-left:20vh;
        padding-right:20vh;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .popular-1 {
        display: grid;
        grid-template-columns: 7fr 5vh 5vh 9fr;
        grid-template-rows: auto;
        grid-gap: 0 20px;
        grid-template-areas:
            "pop1-main-title  pop1-main-title pop1-main-title pop1-main-title"
             "pop1-title      pop1-title       pop1-title       pop1-img"
              "pop1-content   pop1-content     pop1-content     pop1-img"
              "pop1-author      save-icon      share-icon       pop1-img"
                "pop1-date     save-icon        share-icon       pop1-img";
    }

    .pop-flexbox {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .all-grid {
        display: grid;
        grid-template-columns: 5fr 7fr 5vh 5vh;
        grid-template-rows: auto; 
        grid-gap: 10px;
        grid-template-areas:
     
        "all1     all2      all2       all2 "
         "all1   all3       all3       all3"
         "all1    all4      all6      all7"
           "all1   all5      all6        all7";
    }

    .interested-flex {
        display: flex;
        background-color: $color-logo;
        padding-left: 20vh;
        padding-right: 20vh;
        gap: 50px;    
        justify-items: center;
        align-items: center;
    }

    .footer-flex-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 30px;
            grid-template-areas:
     
                 "afri     abt"
                 "fllw     .";
    
        //align-items: center;
        //justify-items: center;
        text-align: left;
        background-color:$color-logo;
        padding-left:20vh;
        padding-right:20vh;
    }
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .popular-1 {
        display: grid;
        grid-template-columns: 7fr 5vh 5vh 9fr;
        grid-template-rows: auto;
        grid-gap: 0 20px;
        grid-template-areas:
            "pop1-main-title  pop1-main-title pop1-main-title pop1-main-title"
             "pop1-title      pop1-title       pop1-title       pop1-img"
              "pop1-content   pop1-content     pop1-content     pop1-img"
              "pop1-author      save-icon      share-icon       pop1-img"
                "pop1-date     save-icon        share-icon       pop1-img";    
    }

    .pop-flexbox {
        display: flex;
        justify-content: space-between;
        gap: 5rem;   
    }

    .all-grid {
        display: grid;
        grid-template-columns: 5fr 7fr 5vh 5vh;
        grid-template-rows: auto; 
        grid-gap: 10px;
        grid-template-areas:
     
        "all1     all2      all2       all2 "
         "all1   all3       all3       all3"
         "all1    all4      all6      all7"
           "all1   all5      all6        all7";
    }

    .interested-flex {
        display: flex;
        background-color: $color-logo;
        padding-left: 20vh;
        padding-right: 20vh;
        gap: 50px;  
        justify-items: center;
        align-items: center;  
    }

    .footer-flex-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 30px;
            grid-template-areas:
     
                 "afri     abt      fllw";
    
        //align-items: center;
        //justify-items: center;
        text-align: left;
        background-color:$color-logo;
        padding-left:20vh;
        padding-right:20vh;
    }
}

img {
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .titulote {
    color: $color-titulo-1;
}

.titulo {
    color: $color-titulo-2;
    font-weight: bold;
}

.titulo.autor {
    color: $color-titulo-2;
    font-weight: normal;
}

.cuerpo {
    color: $color-cuerpo;
}

.fechas {
    color: $color-autor;
}

nav {    
    font-family: $font-2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo . . . home espec depor";
    background: transparent;
    position: relative;
    padding: 1%;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    gap: 5%;
}


.logo {
    grid-area: logo;
}

.home {
    grid-area: home;
    color: $color-titulo-2;
    font-weight: bold;
}

.espec {
    grid-area: espec;
}

.depor {
    grid-area: depor;
}

.header--background {    
    background-image: url('../img/banner-2.png'), url('../img/banner.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header--structure {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    width: 100%;
}

.header--title, .header--content {
    font-family: $font-1;
    color: white;
    text-align: center;
    width: 50%;
    letter-spacing: 0.04em;
}

.header--title {
    font-size: 2.5rem;
}

.header--content {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.78);
}

.search-box {
    display: flex;
    background: #fff;
    border-radius: 18px;
    justify-content: center;
    padding: 20px;
}

.search-box .btn {
    background: #fff;
    border:1px solid #000;
    height: 36px;
    padding: 10px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
    outline: 0;
}
    
.search-box .form-control{

    width:50%;
    border: 0;
    height: 36px;
    padding:0 10px;
    outline: 0;
    
    }
/*POPULAR*/

/*MIXIN POSICION*/

@mixin position-grid($position-x, $span-x, $position-y, $span-y ) {
    grid-column: $position-x / span $span-x;
    grid-row: $position-y / span $span-y;
}

/*MIXIN ALINEAMIENTO GRID*/
@mixin align-grid($align-x:center, $align-y:center){

    align-self: $align-x;
    justify-self: $align-y;
}

/*MIXIN ESTILO*/
/*classes*/
.popular-1-1 {
    padding-left: 20vh;
    padding-right: 20vh;
    font-family: $font-2;
}

.pop1-main-title{
    grid-area: pop1-main-title;
}

.pop1-img {    
    grid-area: pop1-img;
    @include align-grid;
}

.pop1-title {
    grid-area: pop1-title;
}

.pop1-content {
    grid-area: pop1-content;
}

.pop1-author {
    grid-area: pop1-author;
}

.pop1-date{
    grid-area: pop1-date;
}

.save-icon {
    grid-area: save-icon;
    @include align-grid;
}

.share-icon {
    grid-area: share-icon;
    @include align-grid;
}

.popular-grid{
    display: grid;
    grid-template-columns: 6fr 4vh 4vh;
    grid-template-rows:auto;
    grid-gap: 10px;
}

.pop1 {
    @include position-grid(1, 3, 1, 1);
}

.pop2 {
    @include position-grid(1, 3, 2, 1);
}

.pop3 {
    @include position-grid(1, 3, 3, 1);
}

.pop4 {
    @include position-grid(1, 1, 4, 1);
}

.pop5 {
    @include position-grid(1, 1, 5, 1);
}

.pop6 {
    @include position-grid(2, 1, 4, 1);
}

.pop7 {
    @include position-grid(3, 1, 4, 1);
}

.pop-flexbox-2 {
    display: flex;
    flex-direction: row-reverse;
}

.all-flexbox-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}


.all-flexbox-2 {
    display: flex;
    justify-content: space-between;
}

.all1 {
    grid-area: all1;
}

.all2 {
    grid-area: all2;
}

.all3 {
    grid-area: all3;
}

.all4 {
    grid-area: all4;
}

.all5 {
    grid-area: all5;
}

.all6 {
    grid-area: all6;
}

.all7 {
    grid-area: all7;
}

.info, .hablemos {
    flex-basis: 50%;
    height: 25rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.info > h3 {
    font-family: $font-2;
    font-size: 2rem;
    color: white;
    font-weight: 400;

}

.info > h4 {
    font-family: $font-1;
    font-size: 1rem;
    color: $color-autor;
    font-weight: 400;
    color: $font-1;

    
}

.hablemos > button {
    padding: 3vh;
    max-width: 100%;
    height: auto;
    background-color: #5A98D0;
    color: white;
}

.foo-afri {
    grid-area: afri;
}
.foo-abt {
    grid-area: abt;
}
.foo-fllw {
    grid-area: fllw;
}

.flex-footer {
    display: flex;
    flex-direction: column;
    //justify-items: center;
    //align-items: center;
    text-align: left;
    gap: 10px;
}


.logo-footer {
    display: flex;
    align-items: center;
    color: white;
    font-family: $font-2;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2vh;
}

.logo-footer > img {
    padding-right: 2vh;
}

.content-footer > span {
    font-weight: bold;
    padding-right: 1.5vh;
}

.content-footer {
    color: white;
    font-family: $font-1;
}

.goodbye {
    color: $color-autor;
    font-family: $font-2;

}